@media screen and (max-width: 2160px) {
  :root {
    --heading-scale: 1.125;
  }
}
@media screen and (max-width: 1950px) {
  :root {
    --bottom-space: 80px;
    --arrow-size: 97px;
    --box-padding: 50px;
    --box-padding-vertical: 30px;
    --heading-scale: 1;
  }
}
@media screen and (max-width: 1800px) {
  :root {
    --bottom-space: 60px;
    --arrow-size: 80px;
    --heading-scale: 0.88;
    --box-padding: 35px;
    --box-padding-vertical: 20px;
  }
}
@media screen and (max-width: 1750px) {
  :root {
    --h-scale: 0.88;
  }
}
@media screen and (max-width: 1700px) {
  :root {
    --heading-scale: 0.8;
  }
}
@media screen and (max-width: 1600px) {
  :root {
    --heading-scale: 0.8;
    --bottom-space: 50px;
    --arrow-size: 70px;
    --box-padding: 30px;
    --box-padding-vertical: 20px;
    --h-scale: 0.83;
  }
}
@media screen and (max-width: 1575px) {
  :root {
    --heading-scale: 0.75;
    --bottom-space: 50px;
    --arrow-size: 70px;
    --box-padding: 30px;
    --box-padding-vertical: 20px;
  }
}
@media screen and (max-width: 1550px) {
  :root {
    --bottom-space: 60px;
    --arrow-size: 80px;
    --heading-scale: 0.75;
  }

  .section-primary .article-content .article-info {
    height: 180px;
  }
  .section-primary .article-content .article-des::-webkit-scrollbar {
    width: 4px;
  }
}
@media screen and (max-width: 1440px) {
  :root {
    --h-scale: 0.75;
    --bottom-space: 50px;
    --arrow-size: 60px;
    --heading-scale: 0.7;
  }

  .navbar,
.header.sticky .navbar {
    font-size: 10px;
  }

  .section-primary .article-content .article-info {
    height: 160px;
  }

  .section-secondary__right {
    width: 50%;
  }
  .section-secondary__right-inner {
    width: 80%;
  }
  .section-secondary__right-container {
    transform: translate(-56px, -68px);
  }

  .section-tertiary__top--right .inner {
    width: 100%;
  }
  .section-tertiary .image-wrapper-110 {
    padding-bottom: 120%;
  }
  .section-tertiary__card-skew {
    width: 92px;
  }

  .section-quinary__right {
    max-width: calc(100% - 330px);
  }
  .section-quinary__right .article-number {
    font-size: 120px;
  }
  .section-quinary__right .article-des {
    font-size: 0.87525rem;
  }

  .section-senary {
    padding-top: 90px;
  }
  .section-senary .image-wrapper-40 {
    padding-bottom: 75%;
  }
  .section-senary__large .title-primary p {
    font-size: 20px;
    line-height: 19px;
  }

  .section-nonary__content .article-img {
    flex-shrink: 0;
    width: 45%;
  }

  .section-decenary__right .HomeFooter_addressInfo__P0GEy {
    width: 280px;
  }
  .section-decenary__right .HomeFooter_imageInfo__7ITLE .HomeFooter_decorate__DiQzQ {
    bottom: 20%;
  }
  .section-decenary__left .heading .title {
    font-size: 45px;
    line-height: 48px;
  }

  .heading-quaternary {
    font-size: 3rem;
  }
  .heading-quinary {
    font-size: 46px;
  }

  .btn-secondary-level-1 {
    transform: scale(1);
  }
}
@media screen and (max-width: 1366px) {
  :root {
    --h-scale: 0.71;
  }
}
@media (max-width: 80em) {
  :root {
    --h-scale: 0.66;
  }

  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-grid {
    display: grid;
  }

  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- footer*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
}
@media screen and (max-width: 1180px) {
  :root {
    --bottom-space: 50px;
    --arrow-size: 60px;
    --box-padding: 20px;
    --box-padding-vertical: 20px;
    --heading-scale: 0.5;
  }
}
@media screen and (max-width: 1130px) {
  :root {
    --heading-scale: 0.45;
  }
}
@media screen and (max-width: 1100px) {
  :root {
    position: absolute;
    left: 0;
    right: 0;
    --heading-scale: 0.55;
    --bottom-space: 30px;
  }
}
@media (max-width: 64em) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-grid {
    display: grid;
  }

  /*------------------------------------------------------------- header*/
  .navbar-right {
    justify-content: end;
  }

  /*------------------------------------------------------------- index*/
  .section-primary {
    min-height: 50vh;
  }
  .section-primary .article-content .article-info {
    height: 105px;
    padding: 10px 15px;
  }
  .section-primary .article-content .article-info__inner {
    margin-top: 4px;
  }
  .section-primary__inner .swiper-slide .article-comma svg {
    width: 12px;
    height: 8px;
  }

  .section-secondary__left {
    margin-top: 0;
  }
  .section-secondary__list {
    padding-right: 0;
  }

  .section-tertiary__top {
    padding-bottom: 20px;
  }
  .section-tertiary__top--right .inner {
    margin-left: 0;
  }

  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}
@media (max-width: 48em) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-grid {
    display: grid;
  }

  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- footer*/
  /*------------------------------------------------------------- index*/
  .w-wrapper {
    width: 90%;
  }

  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
}
@media (max-width: 40em) {
  :root {
    --h-scale: 0.66;
  }

  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-grid {
    display: grid;
  }

  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- footer*/
  /*------------------------------------------------------------- index*/
  .w-wrapper {
    width: 95%;
  }

  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
}

/*# sourceMappingURL=responsive.css.map */
