.cate-1-primary {
    min-height: 100vh;
    background-size: cover;
    background-color: #000;
    background-image: none;
    video {
        -o-object-fit: cover;
        object-fit: cover;
        height: 100vh;
        width: 100%;
    }
    .image-wrapper {
        padding-bottom: 100vh;
    }
}

.cate-1-secondary {
    overflow: hidden;
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    --heading-scale: 1;
    background-image: url("../images/the_bg_0.f752d522.jpg");

    &__blob-1 {
        position: absolute;
        top: -320px;
        right: 40px;
        width: 75vw;
        height: 75vw;
        background-size: cover;
        opacity: 0.7;
        isolation: isolate;
        mix-blend-mode: screen;
        filter: alpha(opacity=70);
        background-image: url("../images/the_blob_2.d12d8508.png");
    }
    &__blob-2 {
        position: absolute;
        top: calc(42.5vw - 220px);
        right: calc(var(--main-container-padding) + 20vw);
        width: 42.5vw;
        height: 42.5vw;
        background-size: cover;
        opacity: 0.8;
        isolation: isolate;
        mix-blend-mode: screen;
        overflow: hidden;
        filter: alpha(opacity=80);
        z-index: 4;
        background-image: url("../images/blob_the_1_transparent.6a2773f7.png");
        will-change: transform;
        transform: translateY(38.5015px) rotateZ(133.798deg);
    }
    &__container {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
    }
    &__line1 {
        width: 0.7px;
        height: calc(var(--heading-scale) * 59px);
        background-color: #e8e2df;
    }
    &__line2 {
        height: 0.7px;
        width: 250px;
        background-color: #e8e2df;
    }
    &__line3 {
        width: 0.7px;
        height: 49px;
        background-color: #e8e2df;
    }
    &__box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 30vh;

        .title-1 {
            font-weight: 600;
            font-size: calc(1.67rem * 0.75);
            line-height: calc(2.6rem * 0.75);
            letter-spacing: 4.8px;
            text-transform: uppercase;
            color: #fff;
            margin: 40px 0 0;
            overflow: hidden;
        }
        .title-2 {
            font-family: Frunchy;
            font-size: calc(var(--heading-scale) * (7.5rem * 0.75));
            line-height: calc(var(--heading-scale) * (7.416rem * 0.75));
            text-transform: uppercase;
            color: #fff;
            -webkit-text-stroke: 0.7px #fff;
            margin: 0;
            font-weight: 400;
            overflow: hidden;
        }
        .title-3 {
            will-change: transform;
            transform: translateY(3.67236px);
            span {
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * (3.9rem * 0.75));
                line-height: calc(var(--heading-scale) * (4.2rem * 0.75));
                color: #fff;
                font-weight: 400;
                margin: 0;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                text-align: center;
                display: block;
            }
        }
        .descript {
            display: flex;
            flex-direction: column;
            align-items: center;
            will-change: transform;
            transform: translateY(30.3407px);
            p {
                font-size: var(--size-body);
                line-height: var(--line-body);
                color: #fff;
                width: 26%;
                text-align: justify;
                font-weight: 200;
                margin-bottom: 30px;
                margin-top: 15px;
                text-align-last: center;
            }
        }
        .line {
            display: flex;
            flex-direction: column;
            align-items: center;
            will-change: transform;
            transform: translateY(63.4039px);
        }
    }
    &__box2 {
        padding-top: 100px;
        .right {
            padding-top: 70px;
            padding-left: 140px;
            .inner {
                will-change: transform;
                transform: translateY(61.2808px);
            }
            .title-1 {
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * (4.58rem * 0.75));
                line-height: calc(var(--heading-scale) * (4.5rem * 0.75));
                text-transform: uppercase;
                color: #fff;
                margin: 0;
                font-weight: 400;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                display: block;
            }
            .title-2 {
                font-family: Frunchy;
                text-transform: uppercase;
                color: #fff;
                margin: 0;
                font-weight: 400;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                display: block;
                font-size: calc(var(--heading-scale) * (7.5rem * 0.75));
                line-height: calc(var(--heading-scale) * (8rem * 0.75));
                letter-spacing: -2.04px;
                margin-bottom: calc(var(--heading-scale) * 30px);
            }
            .bot {
                will-change: transform;
                transform: translateY(14.4px);
            }
            .descript {
                font-size: var(--size-body);
                line-height: var(--line-body);
                color: #fff;
                width: 65%;
                text-align: justify;
                margin-top: 0;
                font-weight: 200;
            }
        }
    }
    &__box3 {
        margin-bottom: 200px;
        .left {
            border-right: 0.7px solid #e8e2df;
            padding-top: calc(var(--heading-scale) * 120px);
            padding-left: calc(var(--heading-scale) * 100px);
            padding-right: calc(var(--heading-scale) * 150px);
            padding-bottom: 0;
            .image-1 {
                box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                .image-wrapper {
                    padding-bottom: 74%;
                }
            }

            .image-2 {
                box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                position: absolute !important;
                width: calc(var(--heading-scale) * 2 * 150px - 40px);
                right: 0;
                bottom: 0;
                overflow: hidden;
                transform: translate(50%, 50%);

                .image-wrapper {
                    padding-bottom: 88%;
                }
            }
            .content {
                will-change: transform;
                transform: translateY(-14.3953%);
            }
            .title-1 {
                font-size: calc(var(--heading-scale) * (4.58rem * 0.75));
                line-height: calc(var(--heading-scale) * (5rem * 0.75));
                margin: 20px 0 0;
                display: block;
                font-family: Frunchy;
                text-transform: uppercase;
                color: #fff;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                font-weight: 400;
            }
            .title-2 {
                font-family: Frunchy;
                text-transform: uppercase;
                color: #fff;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                font-weight: 400;
                font-size: calc(var(--heading-scale) * (7.5rem * 0.75));
                letter-spacing: -2.04px;
                margin: 0;
            }
            .descript {
                width: 100%;
                padding-left: 10%;
                padding-right: 30%;
                margin-top: 20px;
                p {
                    font-size: var(--size-body);
                    line-height: var(--line-body);
                    color: #fff;
                    text-align: justify;
                    font-weight: 200;
                }
            }
        }
        .right {
            padding-left: calc(var(--heading-scale) * 150px);
            position: relative;
            transform: translateY(214px);
            .image-wrapper {
                padding-bottom: 94.4277%;
            }
            .content {
                will-change: transform;
                transform: translateY(15.2506%);
                margin-left: calc(var(--heading-scale) * 150px * -1);
            }
            .title-1 {
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * (4.58rem * 0.75));
                line-height: calc(var(--heading-scale) * (4.4rem * 0.75));
                text-transform: uppercase;
                color: #fff;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                font-weight: 400;
                margin: 20px 0 0;
                z-index: 2;
                display: flex;
            }
            .title-2 {
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * (7.5rem * 0.75));
                line-height: calc(var(--heading-scale) * (7.5rem * 0.75));
                letter-spacing: -3.06px;
                text-transform: uppercase;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                color: #fff;
                z-index: 2;
                display: flex;
                margin-bottom: 10px;
            }
            .descript {
                margin-left: calc(var(--heading-scale) * 140px);
                position: relative;
                margin-top: calc(var(--heading-scale) * 30px);
                p {
                    font-size: var(--size-body);
                    line-height: var(--line-body);
                    color: #fff;
                    width: 100%;
                    margin-bottom: 0;
                    text-align: justify;
                    margin-top: calc(var(--heading-scale) * 40px);
                    font-weight: 200;
                }
            }
        }
    }
}

.cate-1-tertiary {
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    --heading-scale: 1;
    background-image: url("../images/frame3.jpg");

    &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        .TheFrame3_quote__iEDOQ {
            opacity: 0.5;
        }
        .line {
            width: 0.7px;
            height: 73px;
            background-color: #e8e2df;
        }
    }
    &__text {
        font-family: Frunchy;
        font-size: calc(3.9rem * 0.75);
        line-height: calc(3.75rem * 0.75);
        color: #e8e8e8;
        width: 55%;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10px;
        -webkit-text-stroke: var(--frunchy-stroke) currentColor;
        font-weight: 400;
        letter-spacing: 2px;
    }
    &__author {
        font-size: calc(1.16rem * 0.75);
        line-height: calc(1.83rem * 0.75);
        text-transform: uppercase;
        color: #fff;
        width: 21%;
        text-align: center;
        -moz-text-align-last: center;
        text-align-last: center;
        margin-top: 20px;
        margin-bottom: 12px;
    }
}

.cate-1-quaternary {
    background-color: #e7e2df;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    --heading-scale: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: calc(var(--heading-scale) * 83px);
    padding-bottom: calc(var(--heading-scale) * 83px);

    .row-1 {
        align-items: stretch;
        .box {
            width: calc(50% - 0.35px);
        }
        .title {
            font-family: Frunchy;
            font-size: calc(var(--heading-scale) * (3.91rem * 0.75));
            line-height: calc(var(--heading-scale) * (3.83rem * 0.75));
            letter-spacing: 0.63px;
            color: #3f2e6b;
            -webkit-text-stroke: 0.7px #3f2e6b;
            font-weight: 400;
            span {
                display: block;
            }
        }
        .content {
            width: 62.9%;
        }
        .heading {
            font-weight: 700;
            font-size: var(--size-body);
            line-height: var(--line-body);
            color: #171717;
            margin: 15px 0;
            text-align: justify;
        }
        .descript {
            font-size: var(--size-body);
            line-height: var(--line-body);
            color: #171717;
            margin: 15px 0;
            text-align: justify;
        }
        .line {
            width: 0.7px;
            background-color: var(--color-minsk);
        }
        .box-map {
            .level-1 {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
            .level-2 {
                width: 70%;
                position: relative;
            }
            .level-3 {
                padding-top: 140.293%;
            }
            .level-4 {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
        .location-item {
            &:not(.active) {
                .info {
                    display: none;
                }
            }
            &:nth-child(2) {
                .icon-location {
                    position: absolute;
                    left: 49.03%;
                    top: 15.54%;
                    width: 9.02799%;
                    height: 8.25837%;
                    transform: translate(-50%, -100%);
                }
                .hyphen {
                    position: absolute;
                    top: 120.938px;
                    left: 272px;
                    transform: translateY(-13.3539px);
                    right: 30.6952%;
                    overflow: hidden;
                }
                .sapo {
                    position: absolute;
                    top: 120.938px;
                    right: 30.6952%;
                    width: 30.6952%;
                    background-color: rgb(231, 226, 223);
                    transform: translateX(100%) translateY(-80%);
                    display: flex;
                    align-items: flex-start;
                    padding: 10px;
                    box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 58px 0px;
                    border-radius: 4px;
                }
            }
            &:nth-child(3) {
                .icon-location {
                    position: absolute;
                    left: 63.04%;
                    top: 69.21%;
                    width: 9.02799%;
                    height: 8.25837%;
                    transform: translate(-50%, -100%);
                }
                .hyphen {
                    position: absolute;
                    top: 538.641px;
                    left: 349.719px;
                    transform: translateY(-13.3539px);
                    right: 30.6952%;
                    overflow: hidden;
                }
                .sapo {
                    position: absolute;
                    top: 538.641px;
                    right: 30.6952%;
                    width: 30.6952%;
                    background-color: rgb(231, 226, 223);
                    transform: translateX(100%) translateY(-80%);
                    display: flex;
                    align-items: flex-start;
                    padding: 10px;
                    box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 58px 0px;
                    border-radius: 4px;
                }
            }
            &:nth-child(4) {
                .icon-location {
                    position: absolute;
                    left: 63.04%;
                    top: 74.89%;
                    width: 9.02799%;
                    height: 8.25837%;
                    transform: translate(-50%, -100%);
                }
                .hyphen {
                    position: absolute;
                    top: 582.844px;
                    left: 349.719px;
                    transform: translateY(-13.3539px);
                    right: 30.6952%;
                    overflow: hidden;
                }
                .sapo {
                    position: absolute;
                    top: 582.844px;
                    right: 30.6952%;
                    width: 30.6952%;
                    background-color: rgb(231, 226, 223);
                    transform: translateX(100%) translateY(-80%);
                    display: flex;
                    align-items: flex-start;
                    padding: 10px;
                    box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 58px 0px;
                    border-radius: 4px;
                }
            }
            &:nth-child(5) {
                .icon-location {
                    position: absolute;
                    left: 57.59%;
                    top: 82.66%;
                    width: 9.02799%;
                    height: 8.25837%;
                    transform: translate(-50%, -100%);
                }
                .hyphen {
                    position: absolute;
                    top: 643.312px;
                    left: 319.484px;
                    transform: translateY(-13.3539px);
                    right: 30.6952%;
                    overflow: hidden;
                }
                .sapo {
                    position: absolute;
                    top: 643.312px;
                    right: 30.6952%;
                    width: 30.6952%;
                    background-color: rgb(231, 226, 223);
                    transform: translateX(100%) translateY(-80%);
                    display: flex;
                    align-items: flex-start;
                    padding: 10px;
                    box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 58px 0px;
                    border-radius: 4px;
                }
            }
            &:nth-child(6) {
                .icon-location {
                    position: absolute;
                    left: 55.42%;
                    top: 78.34%;
                    width: 9.02799%;
                    height: 8.25837%;
                    transform: translate(-50%, -100%);
                }
                .hyphen {
                    position: absolute;
                    top: 609.703px;
                    left: 307.438px;
                    transform: translateY(-13.3539px);
                    right: 30.6952%;
                    overflow: hidden;
                }
                .sapo {
                    position: absolute;
                    top: 609.703px;
                    right: 30.6952%;
                    width: 30.6952%;
                    background-color: rgb(231, 226, 223);
                    transform: translateX(100%) translateY(-80%);
                    display: flex;
                    align-items: flex-start;
                    padding: 10px;
                    box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 58px 0px;
                    border-radius: 4px;
                }
            }
        }
        .MapComponent_marker__i47v6 {
            transform-origin: bottom center;
            cursor: pointer;
            --heading-scale: 1;
        }

        .location-item.active .MapComponent_marker__i47v6,
        .MapComponent_marker__i47v6:hover {
            animation-duration: 4s;
            animation-name: MapComponent_zoomInfinite__l8M3Z;
            animation-iteration-count: infinite;
        }

        .MapComponent_placeTitle__sA84w {
            font-size: calc(var(--heading-scale) * (2rem * 0.75));
            line-height: calc(var(--heading-scale) * (2rem * 0.75));
            font-family: Frunchy;
            -webkit-text-stroke: var(--frunchy-stroke) currentColor;
            display: block;
            margin-bottom: 5px;
            text-transform: uppercase;
        }
        .MapComponent_placeRowItem__inUba {
            display: flex;
            align-items: flex-start;
            margin-bottom: 3px;
            span {
                margin-left: 3px;
                flex: 1 1;
                font-size: (0.833rem * 0.75);
                color: #000;
                text-transform: uppercase;

                &:hover {
                    color: var(--color-green);
                    cursor: pointer;
                }
            }
        }
    }

    .row-2 {
        align-items: stretch;
        .box {
            width: calc(50% - 0.35px);
        }
        .line {
            width: 0.7px;
            background-color: var(--color-minsk);
        }
        .left {
            padding-right: calc(var(--heading-scale) * 83px);
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            .inner {
                margin-left: 100px;
                margin-bottom: 40px;
                position: relative;
                background-color: #000;
            }
            .slide {
                transform: translate(-40px, 60px);
            }
        }
        .right {
            padding-left: calc(var(--heading-scale) * 83px);
            padding-top: 150px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            .title {
            }
            .title-1 {
                display: block;
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * (3.91rem * 0.75));
                line-height: calc(var(--heading-scale) * (3.83rem * 0.75));
                letter-spacing: 0.63px;
                color: #3f2e6b;
                -webkit-text-stroke: 0.7px #3f2e6b;
                font-weight: 400;
                margin-bottom: 0;
            }
            .title-2 {
                display: block;
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * (5rem * 0.75));
                line-height: calc(var(--heading-scale) * (4.5rem * 0.75));
                letter-spacing: -0.77px;
                text-transform: uppercase;
                color: #3f2e6b;
                -webkit-text-stroke: 0.7px #3f2e6b;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 0;
            }
            .title-3 {
                display: block;
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * (5rem * 0.75));
                line-height: calc(var(--heading-scale) * (4.5rem * 0.75));
                letter-spacing: -0.77px;
                text-transform: uppercase;
                color: #3f2e6b;
                -webkit-text-stroke: 0.7px #3f2e6b;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 30px;
            }
            .content {
            }
            .descript {
                font-size: var(--size-body);
                line-height: var(--line-body);
                color: #171717;
            }
        }
    }
}

.cate-1-quinary {
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    --heading-scale: 1;
    overflow-x: hidden;
    position: relative;

    &__coating {
        position: absolute;
        inset: 0;
        background-color: #000;
    }
    &__bgImage {
        position: absolute;
        inset: 0;
        background-image: url("../images/the_form_bg.jpg");
        background-size: cover;
        opacity: 0.2;
        overflow: hidden;
    }
    &__spiner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow: hidden;
        .level-1 {
            position: absolute;
            top: -10vh;
            left: -30vw;
            width: 70vw;
            isolation: isolate;
            mix-blend-mode: screen;
            background-image: url("../images/blob_the_1_transparent.6a2773f7.png");
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0.7;
            animation: TheFormDangKy_rotateAround__TOnyo 20s linear infinite;
        }
        .level-2 {
            padding-top: 100.954%;
        }
        .level-3 {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
    &__container {
        position: relative;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: calc(var(--heading-scale) * (6.91rem * 0.75));
        padding-top: calc(var(--heading-scale) * (6.91rem * 0.75));
        z-index: 2;
        display: flex;

        .left {
            .title {
                display: block;
                font-size: calc(1.25rem * 0.75);
                line-height: calc(1.75rem * 0.75);
                text-transform: uppercase;
                color: #58aaa4;
                font-weight: 600;
                margin-bottom: 15px;
            }
            .descript {
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * 3.91rem * 0.75);
                line-height: calc(var(--heading-scale) * 4rem * 0.75);
                color: #fff;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                width: 75%;
            }
            .text {
                display: block;
                font-size: calc(var(--heading-scale) * 2.25rem * 0.75);
                line-height: calc(var(--heading-scale) * 3.25rem * 0.75);
                text-transform: uppercase;
                color: #58aaa4;
                margin-top: calc(var(--heading-scale) * 5.83rem * 0.75);
                font-weight: 500;
                margin-bottom: 30px;
            }
        }
        .right {
            background-color: #e7e2df;
            margin-right: calc(-20px - var(--main-container-padding));
            margin-left: -20px;
            padding: calc(var(--heading-scale) * 6.91rem * 0.75);
            .text {
                display: block;
                font-weight: 700;
                font-size: calc(1.25rem * 0.75);
                line-height: calc(1.75rem * 0.75);
                text-transform: uppercase;
                color: #000;
                margin-bottom: 15px;
            }
            .form {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                padding-right: 20px;
                position: relative;
            }
            .form-group {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-left: -20px;
                margin-right: -20px;
                .input-container {
                    width: 50%;
                    margin-bottom: 20px;
                    padding: 0 20px 20px;
                }
            }
            .input-container {
                display: flex;
                flex-direction: column;
                label {
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 0.75rem;
                }
                input {
                    background-color: transparent;
                    outline: none;
                    height: 50px;
                    border: none;
                    border-bottom: 1px solid #000;
                    width: 100%;
                    border-radius: 0;
                }
            }
            .descript {
                font-size: var(--size-body);
                line-height: var(--line-body);
                color: #171717;
                margin-top: calc(var(--heading-scale) * 40px);
                margin-bottom: 15px;
            }
            .TheFormDangKy_h6__Hjo4j {
                display: block;
                font-size: var(--size-body);
                line-height: var(--line-body);
                color: #58aaa4;
                font-weight: 400;
                margin: 20px 0 0;
            }
        }
    }
}
.TheFormDangKy_movingX__8kGNl {
    animation: TheFormDangKy_movingX__8kGNl 5s linear infinite;
    text-align: left;
}

.heading-colection {
    &__primary {
        font-family: Frunchy;
        font-size: calc(var(--heading-scale) * (5.25rem * 0.75));
        line-height: calc(var(--heading-scale) * (5.5rem * 0.75));
        letter-spacing: -1.98px;
        text-transform: uppercase;
        -webkit-text-stroke: var(--frunchy-stroke) currentColor;
        --h-scale: 1;
        transform: translateZ(0);
        transform-style: preserve-3d;
        font-weight: 400;
        overflow: hidden;
    }
}
// bo su tap
.colection-primary {
    --heading-scale: 1;
    --bottom-space: 15vh;
    --arrow-size: 87px;
    --box-padding: 50px;

    position: relative;
    min-height: 100vh;

    &__bg {
        min-height: 100vh;
        position: absolute;
        inset: 0;
        .backdrop-blur {
            position: absolute;
            inset: 0;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
        }
        .image-wrapper {
            padding-bottom: 100vh;
        }
    }

    &__container {
        padding: 20px;
        display: flex;
        align-items: stretch;
        z-index: 2;
        padding-top: calc(var(--header-height) + 30px);
        .left {
            width: 40%;
            display: flex;
            flex-direction: column;
            position: relative;

            .icon-1 {
                position: absolute;
                right: 0;
                top: 0;
                svg {
                    width: 75px;
                    transform: translateX(calc(27% - 2px));
                }
            }
            .heading-octonary {
                margin: 40px 0 20px;
            }
        }

        .right {
            position: absolute;
            top: calc(var(--header-height) + 40px);
            right: 5vw;
            width: 55vw;
            bottom: -60px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            .article {
                width: 100%;
                height: 100%;
                position: relative;
                &-img__small {
                    position: absolute;
                    left: 0;
                    bottom: var(--bottom-space);
                    width: 40%;
                    z-index: 30;
                }
                &-img__large {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 80%;
                    .image-wrapper {
                        padding-bottom: calc(100vh - 100px);
                    }
                }
            }
        }
    }
    &__text1 {
        display: block;
        margin-top: 20px;
        width: 80%;
        font-size: calc(1.5rem * 0.75);
        line-height: calc(2.1rem * 0.75);
        font-weight: 500;
        text-transform: uppercase;
        color: #fff;
        text-align: justify;
        margin-bottom: 20px;
    }
    &__text2 {
        width: 80%;
        color: #fff;
        font-size: var(--size-body);
        line-height: var(--line-body);
        margin: 15px 0;
    }
    &__inner {
        .swiper {
            padding-left: var(--arrow-size);
            padding-right: var(--arrow-size);
            overflow: unset;
        }
        .swiper-button-next {
            width: var(--arrow-size);
            height: var(--arrow-size);
            background-color: var(--color-minsk);

            &:after {
                content: "";
                width: 48px;
                height: 21px;
                display: inline-block;
                animation: moving-abit-left 3s linear infinite;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%20viewBox='0%200%2056.183%2024.851'%3E%3Cg%20data-name='Group%2070'%20fill='none'%20stroke='%23fff'%20stroke-miterlimit='10'%3E%3Cpath%20data-name='Line%2015'%20stroke-width='0.709'%20d='M0%2012.425h54.282'%3E%3C/path%3E%3Cg%20data-name='Group%2069'%20stroke-width='1.701'%3E%3Cpath%20data-name='Path%2060'%20d='M44.314%2024.695s2.045-10.992%2011.758-12.27'%3E%3C/path%3E%3Cpath%20data-name='Path%2061'%20d='M44.314%200.155s2.045%2010.992%2011.758%2012.27'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .swiper-button-prev {
            width: var(--arrow-size);
            height: var(--arrow-size);
            background-color: var(--color-minsk);

            &:after {
                content: "";
                width: 48px;
                height: 21px;
                display: inline-block;
                animation: moving-abit-left 3s linear infinite;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 56.164 24.799'%3E%3Cg data-name='Group 72' fill='none' stroke='%23fff' stroke-miterlimit='10'%3E%3Cpath data-name='Line 16' stroke-width='0.709' d='M56.164 12.4H1.882'/%3E%3Cg data-name='Group 71' stroke-width='1.417'%3E%3Cpath data-name='Path 62' d='M11.851 24.67S9.806 13.679.092 12.4'/%3E%3Cpath data-name='Path 63' d='M11.851 0.13S9.806 11.122.092 12.4'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: 0;
            top: auto;
            bottom: var(--bottom-space);
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: 0;
            top: auto;
            bottom: var(--bottom-space);
        }
        .mix-blend-1 {
            bottom: var(--bottom-space);
            z-index: 50;
        }
    }
}

.colection-secondary {
    min-height: 66vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: calc(var(--header-height) + 50px);
    --heading-scale: 0.8;
    background-color: #fff;

    &__container {
        display: flex;
    }

    &__left {
        width: 32%;
        margin-right: 50px;
        position: relative;
        margin-bottom: 30px;
    }
    &__right {
        width: calc(68% - 50px);
        position: relative;
        margin-bottom: 30px;
        overflow-x: hidden;

        .article {
            margin: 10px;
            .article-img {
                border: 1px solid gray;
                position: relative;

                border-radius: 120px;
                padding: 10px;
                .coating {
                    transition: all 1s;
                    position: absolute;
                    inset: 0;
                    height: 100%;
                    background-image: linear-gradient(
                        90deg,
                        transparent,
                        rgba(0, 0, 0, 0.43)
                    );
                    box-shadow: inset 0px 0px 50px 10px #000000a6;
                }
                .section-quaternary__border {
                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 35px;
                        width: 65px;
                        height: 4px;
                        transform: translateX(-50%);
                        background-color: transparent;
                        border-radius: 50px;
                        border: 1px solid #fff;
                        z-index: 10;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 45px;
                        width: 100%;
                        height: 1px;
                        background-color: #fff;
                    }
                }
            }
            .article-content {
                margin-top: 20px;
                height: 40px;
                display: flex;
                align-items: flex-end;
                text-align: center;
                justify-content: center;
                span {
                    font-size: calc(0.9rem * 0.75);
                    line-height: calc(1.08rem * 0.75);
                    text-transform: uppercase;
                    color: #000;
                }
            }
        }
        .swiper-slide.swiper-slide-active .article-img .coating {
            background: transparent;
            height: 0;
        }
        .swiper-slide .article-img:hover .coating {
            background: transparent;
            height: 0;
        }
    }
}

.colection-tertiary {
    background-color: hsla(20, 76%, 82%, 0.2);
    --heading-scale: 1;
    padding-top: var(--header-height);
    &__container {
    }
    &__left {
        .PlaceAmenity_h4__ovMhQ {
            display: block;
            font-size: var(--size-body);
            line-height: var(--line-body);
            letter-spacing: 0.96px;
            text-transform: uppercase;
            color: #000;
            width: 60%;
            margin-top: 80px;
            font-weight: 400;
        }
        .article-thumb {
            margin-left: auto;
        }
    }
    &__center {
        width: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .line {
            flex: 1 1;
            width: 1px;
            background-color: #606060;
            opacity: 0.6;
            margin-bottom: 16px;
        }
    }

    &__right {
        width: calc(50% - 80px);
        .article {
            &-content {
                flex: 1 1;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                margin-top: 30px;
                flex-wrap: wrap;
            }
            &-number {
                width: 20%;
                display: flex;
                justify-content: flex-end;
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * 115px);
                line-height: calc(var(--heading-scale) * 71.17px);
                letter-spacing: 1px;
                text-transform: uppercase;
                padding-right: 2px;
            }

            &-title {
                width: 40%;
                padding: 0 20px 0 30px;
                font-size: calc(1.67rem * 0.75);
                line-height: calc(1.8rem * 0.75);
                letter-spacing: -1.7px;
                text-transform: uppercase;
                color: #000;
                font-weight: 400;
                margin: 0;
            }

            &-des {
                width: 40%;
            }
        }
    }

    &__counterSlide {
        width: 35%;
        margin-top: auto;
        text-align: end;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 10px;
        right: auto;
        top: auto;
        bottom: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--color-minsk);
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        top: auto;
        left: 60px;
        right: auto;
        bottom: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--color-minsk);
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 16px;
        color: var(--color-minsk);
    }
}

.colection-quaternary {
    min-height: 60vh;
    position: relative;
    padding-top: var(--header-height);
    --heading-scale: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 40px;

    &__left {
        width: 25%;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__right {
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;

        .article {
            display: flex;
            &-img {
                width: 55%;
                margin-right: 50px;
                padding: 0 10px;
            }
            &-content {
                width: calc(45% - 50px);
                display: flex;
                flex-direction: column;
                // justify-content: flex-end;
            }
            &-title {
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * 4.16rem * 0.75);
                line-height: calc(var(--heading-scale) * 4.16rem * 0.75);
                letter-spacing: -0.5px;
                text-transform: uppercase;
                margin-bottom: 15px;
                margin-top: 25px;
                -webkit-text-stroke: var(--frunchy-stroke) currentColor;
                font-weight: 400;
                overflow: hidden;
            }
            &-tr {
                margin-top: 15px;
                display: flex;
                flex-direction: row;
            }
            &-th {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                &__text {
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 19px;
                    letter-spacing: -0.33px;
                    text-transform: uppercase;
                    color: #000;
                    width: 90px;
                    margin-left: 10px;
                    margin-right: 5px;
                }
            }
            &-td {
                font-size: var(--size-body);
                line-height: var(--line-body);
                color: #000;
            }
        }
    }

    &__bot {
        width: 70%;
        text-align: right;
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 10px;
        right: auto;
        top: auto;
        bottom: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--color-minsk);
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        top: auto;
        left: 60px;
        right: auto;
        bottom: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--color-minsk);
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 16px;
        color: var(--color-minsk);
    }
}

.colection-quinary {
    width: "100%";
    height: 50vh;
    position: relative;
    overflow: hidden;
    &:hover {
        .colection-quinary__bg {
            transform: scale(1.05);
        }
    }

    &__bg {
        background-image: url("../images/place-cta-bg.438162c0.jpg");
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 2s;
        position: absolute;
        inset: 0;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0.1) 50%,
                transparent
            );
        }
    }
    &__title {
        display: block;
        font-family: Frunchy;
        font-size: calc(7.58rem * 0.75);
        text-transform: uppercase;
        color: #fff;
        stroke: #fff;
        stroke-width: 1px;
        -webkit-text-stroke: var(--frunchy-stroke-2x) #fff;
        font-weight: 400;
        margin: 0 0 10px;
        text-align: center;
    }
}

.colection-senary {
    --header-scale: 1;
    position: relative;
    padding-top: var(--header-height);
    --heading-scale: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__container {
        margin-bottom: 40px;
    }

    &__left {
        width: 20%;
        padding: 20px 20px 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__right {
        width: 80%;
        padding: 20px 20px 0;
        .swiper-slide {
            &:nth-child(odd) {
                .article {
                    padding-top: 80px;
                }
            }
        }
        .article {
            border-left: 0.767px solid rgba(96, 96, 96, 0.4);
            padding: 20px;
        }
        .article-img {
            border-bottom: 0.767px solid rgba(96, 96, 96, 0.4);
            padding-bottom: 20px;
        }
        .article-content {
            margin-top: 15px;
            padding-bottom: 100px;
        }
        .article-title {
            font-family: Frunchy;
            font-size: calc(var(--header-scale) * 3.83rem * 0.75);
            line-height: calc(var(--header-scale) * 3.39rem * 0.75);
            letter-spacing: -1.5px;
            text-transform: uppercase;
            font-weight: 400;
            -webkit-text-stroke: var(--frunchy-stroke) currentColor;
        }
        .article-des {
            font-family: Work Sans;
            font-size: var(--size-body);
            line-height: var(--line-body);
            color: #000;
            font-weight: 400;
            letter-spacing: -0.9px;
            text-align: justify;
            margin: 15px 0;
        }
        .article-info {
            display: flex;
            align-items: flex-start;
            margin-bottom: 5px;
            margin-top: 10px;
        }
        .article-text {
            font-family: Work Sans;
            font-size: var(--size-body);
            line-height: var(--line-body);
            color: #000;
            font-weight: 400;
            margin: 0 0 0 5px;
            flex: 1 1;
            letter-spacing: -1.2px;
            transform: translateY(-3px);
            text-align: justify;
        }
    }
    &__bot {
        margin-top: auto;
    }
    &__counterSlide {
        text-align: right;
    }
    &__textRotate {
        width: 100px;
        position: relative;
        height: 300px;
        span {
            position: absolute;
            transform: rotate(270deg) translateX(-100%);
            transform-origin: top left;
            top: 20px;
            left: -20px;
            font-family: Frunchy;
            font-size: calc(186px * var(--heading-scale));
            line-height: calc(149.82px * var(--heading-scale));
            letter-spacing: -2.58px;
            text-transform: uppercase;
            margin: 0;
            font-weight: 400;
        }
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 10px;
        right: auto;
        top: auto;
        bottom: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--color-minsk);
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        top: auto;
        left: 60px;
        right: auto;
        bottom: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid var(--color-minsk);
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 16px;
        color: var(--color-minsk);
    }
}

// doi tac
.partner-primary {
    position: relative;
    .image-wrapper {
        padding-bottom: 100vh;
    }
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.parter-secondary {
    --heading-scale: 1;
    &__titleRow {
        margin-top: 80px;
    }
    &__contentPrimary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: calc(20px * var(--heading-scale));
        padding-bottom: calc(40px * var(--heading-scale));
        border-bottom: 1px solid rgba(96, 96, 96, 0.4);
        .left {
            width: 230px;
            position: relative;
            .parter-secondary__counterSlide {
                text-align: right;
            }
            .swiper-button-prev,
            .swiper-rtl .swiper-button-next {
                left: 10px;
                right: auto;
                top: auto;
                bottom: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid var(--color-minsk);
            }
            .swiper-button-next,
            .swiper-rtl .swiper-button-prev {
                top: auto;
                left: 60px;
                right: auto;
                bottom: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid var(--color-minsk);
            }
            .swiper-button-next:after,
            .swiper-button-prev:after {
                font-size: 16px;
                color: var(--color-minsk);
            }
        }
    }
    &__contentSecondary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: calc(20px * var(--heading-scale));
        padding-bottom: calc(40px * var(--heading-scale));
        border-bottom: 1px solid rgba(96, 96, 96, 0.4);

        .left {
            width: 50%;

            .des {
                font-size: var(--size-body);
                line-height: var(--line-body);
                color: #000;
                width: 80%;
                letter-spacing: -1.5px;
                margin: 15px 0;
                text-align: justify;
            }
            .sapo {
                display: flex;
                margin-top: 30px;
                width: 85%;
            }
            .text {
                font-size: var(--size-body);
                line-height: var(--line-body);
                letter-spacing: -1.5px;
                flex: 1 1;
                margin: 15px 0;
                text-align: justify;
            }
            .pane {
                margin: 0 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .line {
                width: 0.7675px;
                flex: 1 1;
                background-color: rgba(96, 96, 96, 0.4);
            }
        }
        .right {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .right {
        width: 50%;
    }
    .swiper-slide__img {
        height: calc(150px * var(--heading-scale) * 0.8);
        width: calc(300px * var(--heading-scale) * 0.8);
        -o-object-fit: contain;
        object-fit: contain;
        margin: 0 20px;
        object-position: center;
    }

    &__row {
        &:last-child {
            .parter-secondary__contentSecondary {
                border-bottom: none;
            }
        }
    }
}

// lien he
.contact-primary {
    min-height: 100vh;
    position: relative;
    padding-top: var(--header-height);
    --heading-scale: 1;

    &__row {
        margin-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #000;
        &:last-child {
            border-bottom: none;
        }
    }
    .article {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .article-content {
        width: 50%;
    }
    .article-img {
        width: calc(var(--heading-scale) * 531.2943px);
        overflow: hidden;
    }
    .article-title {
        font-size: 18px;
        line-height: 30px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 15px 0;
    }
    .article-info {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .article-text {
        margin-left: 15px;
        flex: 1 1;
        font-size: var(--size-body);
        line-height: var(--line-body);
        color: #000;
        margin-top: 0;
    }
}

.contact-secondary {
    &__container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;

        .heading-secondary {
            margin: 100px 0 30px;
        }
        .LienheInfo_inputRows__n_RSf {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            input {
                width: calc(33.33% - 25px);
                margin: 12.5px;
                padding: 10px 0;
                border: none;
                border-bottom: 1px solid #000;
                background-color: transparent;
                outline: none;
                border-radius: 0;
            }
        }
        .LienheInfo_textareaRow__eQ8_5 {
            width: 100%;
            margin-bottom: 20px;
            input {
                margin: 12.5px;
                width: calc(100% - 25px);
                padding: 10px 0;
                border: none;
                border-bottom: 1px solid #000;
                background-color: transparent;
                outline: none;
            }
        }
    }
}
