.cate-1-primary {
    min-height: 100vh;
    background-size: cover;
    background-color: #000;
    background-image: none;
    video {
        -o-object-fit: cover;
        object-fit: cover;
        height: 100vh;
        width: 100%;
    }
    .image-wrapper {
        padding-bottom: 100vh;
    }
}

.cate-1-secondary {
    min-height: 100vh;
    position: relative;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    --heading-scale: 1;
    background-image: url("../images/the_bg_0.f752d522.jpg");

    &__blob-1 {
        position: absolute;
        top: -320px;
        right: 40px;
        width: 75vw;
        height: 75vw;
        background-size: cover;
        opacity: 0.7;
        isolation: isolate;
        mix-blend-mode: screen;
        filter: alpha(opacity=70);
        background-image: url("../images/the_blob_2.d12d8508.png");
    }
    &__blob-2 {
        position: absolute;
        top: calc(42.5vw - 220px);
        right: calc(var(--main-container-padding) + 20vw);
        width: 42.5vw;
        height: 42.5vw;
        background-size: cover;
        opacity: 0.8;
        isolation: isolate;
        mix-blend-mode: screen;
        overflow: hidden;
        filter: alpha(opacity=80);
        z-index: 4;
        background-image: url("../images/blob_the_1_transparent.6a2773f7.png");
        will-change: transform;
        transform: translateY(38.5015px) rotateZ(133.798deg);
    }
    &__container {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 3;
    }
    &__line1 {
        width: 0.7px;
        height: calc(var(--heading-scale) * 59px);
        background-color: #e8e2df;
    }
    &__line2 {
        height: 0.7px;
        width: 250px;
        background-color: #e8e2df;
    }
    &__line3 {
        width: 0.7px;
        height: 49px;
        background-color: #e8e2df;
    }
    &__box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 30vh;

        .title-1 {
            font-weight: 600;
            font-size: calc(1.67rem * 0.75);
            line-height: calc(2.6rem * 0.75);
            letter-spacing: 4.8px;
            text-transform: uppercase;
            color: #fff;
            margin: 40px 0 0;
            overflow: hidden;
        }
        .title-2 {
            font-family: Frunchy;
            font-size: calc(var(--heading-scale) * (7.5rem * 0.75));
            line-height: calc(var(--heading-scale) * (7.416rem * 0.75));
            text-transform: uppercase;
            color: #fff;
            -webkit-text-stroke: 0.7px #fff;
            margin: 0;
            font-weight: 400;
            overflow: hidden;
        }
        .title-3 {
            will-change: transform;
            transform: translateY(3.67236px);
            span {
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * (3.9rem * 0.75));
                line-height: calc(var(--heading-scale) * (4.2rem * 0.75));
                color: #fff;
                font-weight: 400;
                margin: 0;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                text-align: center;
                display: block;
            }
        }
        .descript {
            display: flex;
            flex-direction: column;
            align-items: center;
            will-change: transform;
            transform: translateY(30.3407px);
            p {
                font-size: var(--size-body);
                line-height: var(--line-body);
                color: #fff;
                width: 26%;
                text-align: justify;
                font-weight: 200;
                margin-bottom: 30px;
                margin-top: 15px;
                text-align-last: center;
            }
        }
        .line {
            display: flex;
            flex-direction: column;
            align-items: center;
            will-change: transform;
            transform: translateY(63.4039px);
        }
    }
    &__box2 {
        padding-top: 100px;
        .right {
            padding-top: 70px;
            padding-left: 140px;
            .inner {
                will-change: transform;
                transform: translateY(61.2808px);
            }
            .title-1 {
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * (4.58rem * 0.75));
                line-height: calc(var(--heading-scale) * (4.5rem * 0.75));
                text-transform: uppercase;
                color: #fff;
                margin: 0;
                font-weight: 400;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                display: block;
            }
            .title-2 {
                font-family: Frunchy;
                text-transform: uppercase;
                color: #fff;
                margin: 0;
                font-weight: 400;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                display: block;
                font-size: calc(var(--heading-scale) * (7.5rem * 0.75));
                line-height: calc(var(--heading-scale) * (8rem * 0.75));
                letter-spacing: -2.04px;
                margin-bottom: calc(var(--heading-scale) * 30px);
            }
            .bot {
                will-change: transform;
                transform: translateY(14.4px);
            }
            .descript {
                font-size: var(--size-body);
                line-height: var(--line-body);
                color: #fff;
                width: 65%;
                text-align: justify;
                margin-top: 0;
                font-weight: 200;
            }
        }
    }
    &__box3 {
        .left {
            border-right: 0.7px solid #e8e2df;
            padding-top: calc(var(--heading-scale) * 120px);
            padding-left: calc(var(--heading-scale) * 100px);
            padding-right: calc(var(--heading-scale) * 150px);
            padding-bottom: 0;
            .image-1 {
                box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                .image-wrapper {
                    padding-bottom: 74%;
                }
            }

            .image-2 {
                box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 4px -1px 48px -6px rgba(0, 0, 0, 0.75);
                position: absolute !important;
                width: calc(var(--heading-scale) * 2 * 150px - 40px);
                right: 0;
                bottom: 0;
                overflow: hidden;
                transform: translate(50%, 50%);

                .image-wrapper {
                    padding-bottom: 88%;
                }
            }
            .content {
                will-change: transform;
                transform: translateY(-14.3953%);
            }
            .title-1 {
                font-size: calc(var(--heading-scale) * (4.58rem * 0.75));
                line-height: calc(var(--heading-scale) * (5rem * 0.75));
                margin: 20px 0 0;
                display: block;
                font-family: Frunchy;
                text-transform: uppercase;
                color: #fff;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                font-weight: 400;
            }
            .title-2 {
                font-family: Frunchy;
                text-transform: uppercase;
                color: #fff;
                -webkit-text-stroke: var(--frunchy-stroke) #fff;
                font-weight: 400;
                font-size: calc(var(--heading-scale) * (7.5rem * 0.75));
                letter-spacing: -2.04px;
                margin: 0;
            }
            .descript {
                width: 100%;
                padding-left: 10%;
                padding-right: 30%;
                margin-top: 20px;
                p {
                    font-size: var(--size-body);
                    line-height: var(--line-body);
                    color: #fff;
                    text-align: justify;
                    font-weight: 200;
                }
            }
        }
    }
}
