.news-detail-primary {
    min-height: 100vh;
    position: relative;
    --heading-scale: 1;
    --content-width: 70%;
    display: flex;
    flex-direction: column;
    &__bgTop {
        padding-bottom: 50vh;
    }
    &__top {
        display: flex;
        align-items: stretch;
        height: 100%;
        z-index: 2;
        margin-top: -20vh;
        position: relative;
        &.image-right {
            .image {
                order: 2;
            }
            .content {
                order: 1;
                margin-right: 40px;
                margin-left: 0;
            }
        }
        .image {
            width: 38vw;
            flex-shrink: 0;
            position: relative;
            .article-img {
                position: absolute;
                inset: 0;
            }
            .news-detail-primary__thumb {
                height: 100%;
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .content {
            flex: 1;
            margin-left: 40px;
            margin-top: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .heading {
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * 90px);
                line-height: calc(var(--heading-scale) * 62px);
                letter-spacing: -0.9px;
                font-weight: 400;
                margin-bottom: 0;
                -webkit-text-stroke: var(--frunchy-stroke) currentColor;
                margin-top: 60px;
            }
            .sapo {
                padding: 40px 0 0;
                span {
                    font-weight: 700;
                    font-size: var(--size-body);
                    line-height: var(--line-body);
                    color: #000;
                }
                p {
                    font-size: 18px;
                    line-height: 27px;
                    color: #000;
                    margin-top: 15px;
                    text-align: justify;
                }
            }
        }
    }

    &__content {
        margin: 30px auto;
        line-height: 27px;
        font-size: var(--size-body);
        width: var(--content-width);
        & > p {
            text-align: justify;
            margin: 20px 0;
        }
        figure figcaption {
            background: #fff;
            text-align: center;
            margin: 0.9375rem auto;
            display: block;
            max-width: 100%;
            line-height: 27px;
            font-size: var(--size-body);
            color: #555;
            em {
                font-style: italic;
            }
            strong {
                font-weight: bold;
            }
        }
        em {
            font-style: italic;
        }
        blockquote {
            border: 2px solid gray;
            border-collapse: separate;
            .expEdit {
                margin: 2px;
                border: 1px solid gray;
            }
        }
        & > h2 {
            display: block;
            font-family: "Work Sans", -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
                "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 22.5px;
            font-weight: 700;
        }
        & > h3 {
            display: block;
            font-family: "Work Sans", -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
                "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 17.5px;
            font-weight: 700;
        }
        & > h4,
        h5,
        h6 {
            display: block;
            font-family: "Work Sans", -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
                "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 15px;
            font-weight: 700;
        }
        & a {
            color: var(--color-green);
        }
        ul {
            margin: 15px 0;
            padding-left: 40px;
            li {
                list-style: disc;
            }
        }
    }

    &__tabbleOfContents {
        .field {
        }
        .title {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 0.75rem;
        }
        &:not(.active) {
            .list {
                display: none;
            }
        }
        .list {
            border-top: 1px solid rgba(0, 0, 0, 0.4);
            padding-top: 20px;
            list-style-type: none;
            -webkit-padding-start: 0;
            padding-inline-start: 0;
            display: block;
            margin: 12px 0;
        }
        .item {
            margin-bottom: 10px;
            text-align: left;
            a {
                font-size: 12px;
                color: #3e3269;
            }
            ul {
                margin-top: 5px;
                padding-left: 40px;
                li {
                    margin-bottom: 10px;
                    text-align: left;
                    list-style: circle;
                }
            }
        }
    }
}

.news-detail-secondary {
    position: relative;
    overflow-x: hidden;
    background-color: hsla(20, 76%, 82%, 0.2);
    padding: 80px 20px 30px;
    &__left {
        width: 15%;
    }
    &__right {
        max-width: 85%;
        .article {
            padding: 0 20px 20px;
            border-left: 0.6px solid var(--color-minsk);
        }
        .article-content {
            margin-top: 10px;
        }
        .image-wrapper {
            padding-bottom: 77%;
        }
        .article-title {
            font-family: Frunchy;
            font-size: 33px;
            line-height: 27.11px;
            letter-spacing: -0.33px;
            display: block;
            margin: 10px 0 0;
            -webkit-text-stroke: var(--frunchy-stroke) currentColor;
        }
        .article-descript {
            line-height: var(--line-body);
            font-size: var(--size-body);
            font-weight: 200;
            margin: 15px 0;
            text-align: justify;
        }
        .article-time {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: calc(0.83rem * 0.75);
            line-height: 16.36px;
            color: #000;
            margin-top: 20px;
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: 10px;
            right: auto;
            top: auto;
            bottom: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid var(--color-minsk);
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            top: auto;
            left: 60px;
            right: auto;
            bottom: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid var(--color-minsk);
        }
        .swiper-button-next:after,
        .swiper-button-prev:after {
            font-size: 16px;
            color: var(--color-minsk);
        }
    }
}
