.news-detail-primary {
    min-height: 100vh;
    position: relative;
    --heading-scale: 1;
    --content-width: 70%;
    display: flex;
    flex-direction: column;
    &__bgTop {
        padding-bottom: 50vh;
    }
    &__top {
        display: flex;
        align-items: stretch;
        height: 100%;
        z-index: 2;
        margin-top: -20vh;
        position: relative;
        &.image-right {
            .image {
                order: 2;
            }
            .content {
                order: 1;
                margin-right: 40px;
                margin-left: 0;
            }
        }
        .image {
            width: 38vw;
            flex-shrink: 0;
            position: relative;
            .article-img {
                position: absolute;
                inset: 0;
            }
            .news-detail-primary__thumb {
                height: 100%;
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .content {
            flex: 1;
            margin-left: 40px;
            margin-top: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .heading {
                font-family: Frunchy;
                font-size: calc(var(--heading-scale) * 90px);
                line-height: calc(var(--heading-scale) * 62px);
                letter-spacing: -0.9px;
                font-weight: 400;
                margin-bottom: 0;
                -webkit-text-stroke: var(--frunchy-stroke) currentColor;
                margin-top: 60px;
            }
            .sapo {
                padding: 40px 0 0;
                span {
                    font-weight: 700;
                    font-size: var(--size-body);
                    line-height: var(--line-body);
                    color: #000;
                }
                p {
                    font-size: 18px;
                    line-height: 27px;
                    color: #000;
                    margin-top: 15px;
                    text-align: justify;
                }
            }
        }
    }

    &__content {
        margin: 30px auto;
        line-height: 27px;
        font-size: var(--size-body);
        width: var(--content-width);
        & > p {
            text-align: justify;
            margin: 20px 0;
        }
        figure figcaption {
            background: #fff;
            text-align: center;
            margin: 0.9375rem auto;
            display: block;
            max-width: 100%;
            line-height: 27px;
            font-size: var(--size-body);
            color: #555;
            em {
                font-style: italic;
            }
            strong {
                font-weight: bold;
            }
        }
        em {
            font-style: italic;
        }
        blockquote {
            border: 2px solid gray;
            border-collapse: separate;
            .expEdit {
                margin: 2px;
                border: 1px solid gray;
            }
        }
        & > h2 {
            display: block;
            font-family: "Work Sans", -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
                "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 22.5px;
            font-weight: 700;
        }
        & > h3 {
            display: block;
            font-family: "Work Sans", -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
                "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 17.5px;
            font-weight: 700;
        }
        & > h4,
        h5,
        h6 {
            display: block;
            font-family: "Work Sans", -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
                "Droid Sans", "Helvetica Neue", sans-serif;
            font-size: 15px;
            font-weight: 700;
        }
        & a {
            color: var(--color-green);
        }
        ul {
            margin: 15px 0;
            padding-left: 40px;
            li {
                list-style: disc;
            }
        }
    }

    &__tabbleOfContents {
        .field {
        }
        .title {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 0.75rem;
        }
        &:not(.active) {
            .list {
                display: none;
            }
        }
        .list {
            border-top: 1px solid rgba(0, 0, 0, 0.4);
            padding-top: 20px;
            list-style-type: none;
            -webkit-padding-start: 0;
            padding-inline-start: 0;
            display: block;
            margin: 12px 0;
        }
        .item {
            margin-bottom: 10px;
            text-align: left;
            a {
                font-size: 12px;
                color: #3e3269;
            }
            ul {
                margin-top: 5px;
                padding-left: 40px;
                li {
                    margin-bottom: 10px;
                    text-align: left;
                    list-style: circle;
                }
            }
        }
    }
}

.news-detail-secondary {
    position: relative;
    overflow-x: hidden;
    background-color: hsla(20, 76%, 82%, 0.2);
    padding: 80px 20px 30px;
    &__left {
        width: 15%;
    }
    &__right {
        max-width: 85%;
        .article {
            padding: 0 20px 20px;
            border-left: 0.6px solid var(--color-minsk);
        }
        .article-content {
            margin-top: 10px;
        }
        .image-wrapper {
            padding-bottom: 77%;
        }
        .article-title {
            font-family: Frunchy;
            font-size: 33px;
            line-height: 27.11px;
            letter-spacing: -0.33px;
            display: block;
            margin: 10px 0 0;
            -webkit-text-stroke: var(--frunchy-stroke) currentColor;
        }
        .article-descript {
            line-height: var(--line-body);
            font-size: var(--size-body);
            font-weight: 200;
            margin: 15px 0;
            text-align: justify;
        }
        .article-time {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: calc(0.83rem * 0.75);
            line-height: 16.36px;
            color: #000;
            margin-top: 20px;
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: 10px;
            right: auto;
            top: auto;
            bottom: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid var(--color-minsk);
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            top: auto;
            left: 60px;
            right: auto;
            bottom: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid var(--color-minsk);
        }
        .swiper-button-next:after,
        .swiper-button-prev:after {
            font-size: 16px;
            color: var(--color-minsk);
        }
    }
}

.detail-recruitment-primary {
    --heading-scale: 1;
    --content-width: 70%;
    --bg-height: 750px;
    position: relative;
    &__bg {
        .image-wrapper {
            padding-bottom: var(--bg-height);
        }
    }
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .heading {
            font-family: Frunchy;
            font-size: calc(var(--heading-scale) * 113px);
            line-height: 1.2;
            letter-spacing: -0.9px;
            font-weight: 500;
            -webkit-text-stroke: var(--frunchy-stroke) currentColor;
            text-transform: uppercase;
        }
        .sapo {
            display: inline-flex;
            gap: 50px;
            padding: 20px 40px 20px 0px;
            border-width: 1px 0px;
            border-top-style: solid;
            border-bottom-style: solid;
            border-top-color: rgb(255, 255, 255);
            border-bottom-color: rgb(255, 255, 255);
            border-image: initial;
            border-left-style: initial;
            border-left-color: initial;
            border-right-style: initial;
            border-right-color: initial;
            margin-top: 10px;
            &-item {
                display: flex;
                align-items: center;
                &__text {
                    margin-left: 10px;
                    padding: 0px 8px;
                    white-space: pre-wrap;
                    font-size: 15px;
                    line-height: 1.8;
                    font-weight: 300;
                    color: #fff;
                }
            }
        }
    }
}

.detail-recruitment-secondary {
    padding: 60px 0;
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        .left {
            flex: 2 1 0%;
        }
        .center {
            margin: 0px 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .line {
                background-color: var(--color-border);
                width: 1px;
                flex: 1 1 0%;
                margin-bottom: 10px;
            }
        }
        .right {
            flex: 1 1 0%;
            font-size: var(--size-body);
        }

        .box {
            &-heading {
                font-family: Frunchy;
                font-size: 50px;
                line-height: 1.2;
                letter-spacing: -0.9px;
                font-weight: 500;
                text-transform: uppercase;
                -webkit-text-fill-color: transparent;
                margin: 10px 10px 0px;
                background: linear-gradient(
                    90deg,
                    rgb(235, 63, 148) 0px,
                    rgb(202, 59, 141) 10%,
                    rgb(158, 54, 132) 25%,
                    rgb(121, 50, 125) 40%,
                    rgb(93, 47, 119) 55%,
                    rgb(73, 45, 115) 70%,
                    rgb(61, 44, 112) 85%,
                    rgb(57, 44, 112)
                );
                -webkit-background-clip: text;
                -webkit-text-stroke: var(--frunchy-stroke) currentColor;
            }

            &-title {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 16px;
            }
            &-text {
                margin-top: 15px;
                margin-bottom: 20px;
                padding: 0px 8px;
                p {
                    font-size: 15px;
                    line-height: 1.8;
                    font-weight: 300;
                }
            }
            &.box-form {
                padding: 10px 30px;
                margin-top: 30px;
                background-color: rgb(249, 244, 241);

                .form-flied {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px 24px;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 15px;
                }
                .form-group {
                    width: 100%;
                }
                .form-input {
                    border: 0;
                    border-bottom: 1px solid #000;
                    background-color: transparent;
                    padding: 10px 0;
                    width: calc(50% - 12px);
                    font-size: 15px;
                    outline: none;
                    &:focus-visible {
                        outline: 0;
                    }
                }
                .form-select {
                    color: rgba($color: #000000, $alpha: 0.8);
                }
                .form-text1 {
                    margin-inline-end: 40px;
                }
                .form-radio {
                    position: relative;
                    transform: scale(1.3);
                    &:checked:after {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: #59bbb5;
                        display: inline-block;
                        visibility: visible;
                        border: 1px solid var(--color-border);
                    }
                }
                .form-label1 {
                    margin: 0 20px 0 5px;
                }
                .form-label-uploadFile {
                    cursor: pointer;
                    color: #59bbb5;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 0;
                    border-bottom: 1px solid #000;
                    background-color: transparent;
                    padding: 10px 0;
                    gap: 10px;
                    p {
                        padding: 0;
                        margin: 0;
                        font-size: 15px;
                        color: rgba(0, 0, 0, 0.8);
                        min-width: 125px;
                    }
                    img {
                        box-sizing: border-box;
                        display: inline-block;
                        overflow: hidden;
                        width: 10px;
                        height: initial;
                        background: none;
                        opacity: 1;
                        border: 0px;
                        margin: 0px;
                        padding: 0px;
                        position: relative;
                        max-width: 100%;
                    }
                }
                .form-input-uploadFile {
                    position: absolute;
                    right: 0;
                    width: 0;
                    height: 0;
                    visibility: hidden;
                }
            }

            &.box-right {
                .box-descript {
                    padding: 20px 10px;
                    border-bottom: 1px solid var(--color-border);
                    &:last-child {
                        border-bottom: none;
                    }
                    &__img {
                        height: 11px;
                    }
                    &__text1 {
                        font-weight: 500;
                        font-size: 15px;
                        line-height: 1.8;
                    }
                    &__text2 {
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 1.8;
                        margin: 5px 22px 0;
                    }
                }
            }
            &-right--contact {
                margin-top: 50px;
            }
        }
    }
}
