.modal {
    &-wrapper {
        &.show {
            display: flex;
        }
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.73);
        z-index: 150;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        --heading-scale: 1;
    }
    &-container {
        width: 50%;
        background-color: #fff;
        z-index: 10;
        display: flex;
        position: relative;
        max-height: 500px;
    }
    &-form {
        &__content {
            .PopupFormAll_form__Fh1Ls {
                display: flex;
                flex-direction: column;
                overflow: auto;
                h5 {
                    font-family: Frunchy;
                    font-size: calc(2.916rem * 0.75);
                    line-height: calc(3.9rem * 0.75);
                    margin: 10px 0;
                    font-weight: 400;
                    -webkit-text-stroke: var(--frunchy-stroke) currentColor;
                }
                p {
                    font-size: var(--size-body);
                    line-height: var(--line-body);
                    font-weight: 200;
                    margin: 0 0 10px;
                }
                input {
                    height: 45px;
                    padding: 5px 0;
                    border: none;
                    border-bottom: 1px solid #000;
                    outline: none;
                    border-radius: 0;
                    font-size: var(--size-body);
                    line-height: var(--line-body);
                }
            }
            .PopupFormAll_contactRow__UfrSy {
                text-align: center;
                font-size: calc(1.3rem * 0.75);
                margin-top: 10px !important;
            }
            .PopupFormAll_socialRow__p9Ymi {
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    width: 20px;
                    margin: 5px 10px;
                }
            }
        }
    }
    &-close {
        position: absolute;
        top: 0;
        right: calc(var(--heading-scale) * -100px);
        cursor: pointer;
        svg {
            width: 52px;
            height: 52px;
        }
    }
}
.section-primary {
    background-image: url("../images/bg1.62a1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.1) 50%,
            transparent
        );
    }

    &__container {
        transform: translateY(10.625%);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #faf4f1;
        border: 0.7087px solid #3f2e6b;
    }

    &__inner {
        padding: 8% 0;
        .swiper {
            margin-left: var(--arrow-size);
            margin-right: var(--arrow-size);
            overflow: unset;
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            left: auto;
            top: auto;
            right: calc(-1 * var(--arrow-size));
            bottom: var(--bottom-space);
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            right: auto;
            top: auto;
            left: calc(-1 * var(--arrow-size));
            bottom: var(--bottom-space);
        }
        .swiper-slide {
            .article {
                display: none;
            }
            &-active {
                .article {
                    display: flex;
                }
            }
            &:nth-child(odd) {
                .article-des {
                    color: #fff;
                }
                .article-comma {
                    color: #3f2e6b;
                }
                .article-more {
                    &__text {
                        color: white;
                    }
                }
            }
            &:nth-child(even) {
                .article-des {
                    color: #58bcb6;
                }
                .article-comma {
                    color: #58bcb6;
                }
                .article-more {
                    &__text {
                        color: #58bcb6;
                    }
                }
            }
        }
        .swiper-button-next {
            width: var(--arrow-size);
            height: var(--arrow-size);
            background-color: var(--color-green);

            &:after {
                content: "";
                width: 48px;
                height: 21px;
                display: inline-block;
                animation: moving-abit-left 3s linear infinite;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%20viewBox='0%200%2056.183%2024.851'%3E%3Cg%20data-name='Group%2070'%20fill='none'%20stroke='%23fff'%20stroke-miterlimit='10'%3E%3Cpath%20data-name='Line%2015'%20stroke-width='0.709'%20d='M0%2012.425h54.282'%3E%3C/path%3E%3Cg%20data-name='Group%2069'%20stroke-width='1.701'%3E%3Cpath%20data-name='Path%2060'%20d='M44.314%2024.695s2.045-10.992%2011.758-12.27'%3E%3C/path%3E%3Cpath%20data-name='Path%2061'%20d='M44.314%200.155s2.045%2010.992%2011.758%2012.27'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .swiper-button-prev {
            width: var(--arrow-size);
            height: var(--arrow-size);
            background-color: var(--color-green);

            &:after {
                content: "";
                width: 48px;
                height: 21px;
                display: inline-block;
                animation: moving-abit-left 3s linear infinite;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 56.164 24.799'%3E%3Cg data-name='Group 72' fill='none' stroke='%23fff' stroke-miterlimit='10'%3E%3Cpath data-name='Line 16' stroke-width='0.709' d='M56.164 12.4H1.882'/%3E%3Cg data-name='Group 71' stroke-width='1.417'%3E%3Cpath data-name='Path 62' d='M11.851 24.67S9.806 13.679.092 12.4'/%3E%3Cpath data-name='Path 63' d='M11.851 0.13S9.806 11.122.092 12.4'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    &__since {
        position: absolute;
        bottom: 11.5%;
        right: calc(10% + var(--arrow-size));
        color: #000;
        span:first-of-type {
            font-size: 15px;
            font-weight: 300;
            margin-right: 10px;
        }
        span:last-of-type {
            font-size: 50px;
            font-weight: 300;
        }
    }

    .article-img {
        flex: 4 1;
    }

    .article-content {
        flex: 5 1;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: var(--bottom-space);
        display: flex;
        // height: 100%;

        &__top {
            flex: 1 1;
            position: relative;
        }
        &__top-inner {
            position: absolute;
            padding-bottom: var(--box-padding);
            padding-left: var(--box-padding);
            bottom: 0;
            left: 0;
            top: 0;
            right: -16.67vw;
            display: flex;
            flex-direction: column;
        }
        .article-title {
            font-family: Frunchy;
            text-transform: uppercase;
            font-weight: 400;
            // overflow: hidden;
            -webkit-text-stroke: var(--frunchy-stroke-2x) transparent;
            transform: translateZ(0);
            transform-style: preserve-3d;
            &__primary {
                font-size: calc(58px * var(--heading-scale));
                line-height: calc(56px * var(--heading-scale));
            }
            &__secondary {
                font-size: calc(87px * var(--heading-scale));
                line-height: calc(74px * var(--heading-scale));
            }
        }
        .article-info {
            background-color: #000;
            padding: var(--box-padding-vertical) var(--box-padding);
            padding-top: calc(var(--box-padding-vertical) + 0px);
            padding-right: calc(var(--box-padding) - 5px);
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 213px;
            &__inner {
                margin-top: 15px;
                display: flex;
                flex: 1 1;
                overflow-x: hidden;
                overflow-y: auto;
            }
        }
        .article-des {
            padding-right: 5px;
            font-size: var(--size-body);
            line-height: var(--line-body);
            font-weight: 200;
            height: 100%;
            max-height: 110px;
            overflow: auto;
            margin: 0;
            -webkit-text-stroke: 0.8px currentColor;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            &::-webkit-scrollbar {
                width: 8px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: hsla(0, 0%, 100%, 0.8);
            }
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                border-radius: 8px;
                background-color: transparent;
            }
        }

        .article-more {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            position: relative;
            transform: translateY(-5px);
            padding: 10px;

            &-show {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
            }
            &__text {
                font-size: 9px;
                line-height: 9px;
                letter-spacing: 0.8px;
                margin-right: 5px;
                margin-top: 2px;
            }

            &.full .article-more__down {
                display: none;
            }
            &.full .article-more__up {
                display: flex;
            }
        }
    }
}

.section-secondary {
    padding-top: 10.625%;

    &__list {
        gap: 50px;
        padding-right: 80px;
    }
    &__item-title {
        min-height: 75px;
    }
    &__left {
        margin-top: 54px;
    }
    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 3rem;
        &-line {
            background-color: #3f2e6b;
            opacity: 0.8;
            width: 1px;
            flex: 1 1;
            position: relative;
        }
    }

    &__right {
        margin-top: auto;

        &-inner {
            max-width: 500px;
            margin-left: auto;
            margin-top: auto;
            background: #3f2e6b;
        }
        &-container {
            transform: translate(-80px, -70px);
        }

        .swiper-pagination-bullet {
            border-radius: 0;
            transform: rotate(45deg);
        }

        .swiper-pagination-bullet {
            background: #fff;
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background: var(--color-green);
        }
        .swiper-fraction {
            position: absolute;
            right: -75px;
            bottom: -54px;
        }
        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal,
        .swiper-pagination-custom,
        .swiper-pagination-fraction {
            bottom: -46px;
            text-align: end;
        }
    }
}

.section-tertiary {
    &__top {
        border-bottom: 0.71px solid #3f2e6b;
    }
    &__top--right .inner {
        font-size: var(--size-body);
        line-height: var(--line-body);
        overflow: hidden;
        width: 65%;
        margin-left: 15%;
        text-align: justify;
    }
    &__pane {
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &__line {
        background-color: #3f2e6b;
        opacity: 0.8;
        width: 1px;
        flex: 1 1;
    }
    &__card-content {
        position: relative;
    }
    &__card-more {
        width: 113px;
        height: 38px;
        background-color: #3f2e6b;
        color: var(--color-green);
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 8px;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        cursor: pointer;
    }
    &__card-img {
        img {
            transition: all 1s linear;
        }
        &:hover {
            img {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                isolation: isolate;
            }
            ~ .section-tertiary__card-skew {
                transform: rotateY(26.7deg) rotateX(326deg) translate(40%, 40px);
            }
        }
    }
    &__card-skew {
        position: absolute;
        bottom: 0;
        right: 0;
        top: 50%;
        transform: translate(40%, 40px);
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        z-index: 10;
        width: 127px;
        height: auto;
        transition: all 1s linear;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 8px;
            border-radius: 50%;
            left: 0;
            bottom: 0;
            box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
        }
    }
}

.section-quaternary {
    background-image: url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;

    &__container {
        padding-top: 63px;
        min-height: 100vh;
    }
    &-slide {
        position: absolute;
        right: 0;
        bottom: 5%;
        height: auto;
        left: 55%;
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        z-index: 30;
    }
    .swiper-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
        align-items: flex-end;
    }
    .swiper-slide {
        & .article {
            align-items: flex-end;
        }
        & .article-img {
            border: 1px solid transparent;
            border-radius: 120px;
            padding: 10px;
            &:hover {
                border-color: #fff;
                .section-quaternary__border {
                    border-color: #fff;
                    &::before {
                        width: 65px;
                    }
                    &::after {
                        width: 100%;
                    }
                }
                .coating {
                    background: transparent;
                    height: 0;
                }
            }
        }
        &.swiper-slide-active .article-img {
            border-color: #fff;
            .section-quaternary__border {
                border-color: #fff;
                &::before {
                    width: 65px;
                }
                &::after {
                    width: 100%;
                }
            }
            .coating {
                background: transparent;
                height: 0;
            }
        }
        &.swiper-slide-active {
            width: 55% !important;
            transform-origin: bottom left;
            transition: width 1s;
            & .article-content {
                width: 120px;
                opacity: 1;
                visibility: visible;
            }
        }
        & .article-content {
            transition: all 1s;
            width: 0;
            opacity: 0;
            visibility: hidden;
            .article-number {
                font-family: Frunchy;
                font-size: 5rem;
                margin: 0 0 5px;
                -webkit-text-stroke: var(--frunchy-stroke) currentColor;
            }
            p {
                font-size: 15px;
                font-weight: 500;
                margin: 0 0 10px;
                text-align: left;
            }
        }
    }
    .swiper-button-next {
        top: auto;
        bottom: 0;
        width: 100px;
        height: 100px;
        right: 20%;
        &:after {
            content: "";
            width: 100px;
            height: 100px;
            display: inline-block;
            animation: moving-abit-left 3s linear infinite;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='103.927' height='103.927' viewBox='0 0 103.927 103.927' fill='white'%3E%3Cg data-name='Group 145'%3E%3Cg data-name='Rectangle 105' transform='translate(1.417 1.418)' fill='none' stroke='white' stroke-miterlimit='10' stroke-width='1.417'%3E%3Crect width='101.092' height='101.092' rx='50.546' stroke='none'%3E%3C/rect%3E%3Crect x='-0.709' y='-0.709' width='102.51' height='102.51' rx='51.255'%3E%3C/rect%3E%3C/g%3E%3Cg data-name='Group 144'%3E%3Cg data-name='Group 143'%3E%3Cpath data-name='Line 33' fill='none' stroke='white' stroke-linecap='square' stroke-linejoin='bevel' stroke-width='1.417' d='M75.776 51.964H27.785'%3E%3C/path%3E%3C/g%3E%3Cpath data-name='Path 145' d='M67.624 42.445s-.5 8.016 8.517 9.519c-9.018 1.5-8.517 9.519-8.517 9.519' fill='none' stroke='white' stroke-linecap='square' stroke-linejoin='bevel' stroke-width='1.417'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    &__border {
        border-radius: 120px;
        border: 1px solid transparent;
        overflow: hidden;
        transition: all 1s;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 35px;
            width: 0;
            height: 4px;
            transform: translateX(-50%);
            background-color: #fff;
            border-radius: 50px;
            z-index: 10;
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 45px;
            width: 0;
            height: 1px;
            background-color: #fff;
        }
    }
    .coating {
        transition: all 1s;
        position: absolute;
        inset: 0;
        height: 100%;
        background-image: linear-gradient(90deg, transparent, #000);
        box-shadow: inset 0px 0px 50px 10px #000000a6;
    }
    .btn-list {
        position: absolute;
        bottom: 10%;
    }
}

.section-quinary {
    position: relative;
    padding-top: var(--header-height);
    --heading-scale: 1;
    background-color: hsla(20, 76%, 82%, 0.2);

    &__left {
    }
    &__right {
        max-width: 1252px;
        .article {
            border-left: 1px solid rgba(96, 96, 96, 0.4);
        }
        .article-icon {
            top: -34px;
            right: 0;
            width: 68px;
            height: 68px;
            border-radius: 50%;
            border: 1px solid transparent;
            z-index: 20;
            // -webkit-clip-path: polygon(50% 0, 50% 0);
            // clip-path: polygon(50% 0, 50% 0);
        }
        .article-number {
            font-size: 143px;
            line-height: 60px;
        }
        .swiper-slide {
            &:nth-child(even) {
                .article-number {
                    padding-top: 80px;
                }
            }
            &:hover,
            &.swiper-slide-active {
                .mix-blend-2 {
                    clip-path: var(--clip-end);
                }
                .article-icon {
                    border-color: #ee3897;
                    animation: TinTucItem_clockwise__0z4qR 0.4s;
                    -webkit-clip-path: polygon(
                        0 0,
                        100% 0,
                        100% 100%,
                        0 100%,
                        0 0
                    );
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
                }
            }
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: 10px;
            right: auto;
            top: auto;
            bottom: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid var(--color-minsk);
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            top: auto;
            left: 60px;
            right: auto;
            bottom: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid var(--color-minsk);
        }
        .swiper-button-next:after,
        .swiper-button-prev:after {
            font-size: 16px;
            color: var(--color-minsk);
        }
    }

    &__more {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        &-text {
            font-size: calc(1.166rem * 0.75);
            line-height: 16px;
            letter-spacing: 0.8px;
            text-transform: uppercase;
            color: var(--color-minsk);
        }
    }

    &__counterSlide {
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.section-senary {
    padding-top: 150px;

    &__content {
        grid-template-columns: 2fr 1fr 1fr;
    }
    &__large {
        padding: 0 20px;

        .coating-gradient {
            position: absolute;
            inset: 0;
            background-image: linear-gradient(360deg, #000 5%, transparent 95%);
        }
        .title-primary {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 20px;

            p {
                margin-top: 30px;
                font-size: calc(2.91rem * 0.75);
                line-height: calc(2.5rem * 0.75);
                font-family: Frunchy;
                width: 80%;
                -webkit-text-stroke: var(--frunchy-stroke) currentColor;
                text-transform: uppercase;
                color: #fff;
            }
        }

        .article-content {
            padding-top: 15px;
        }
        .desription {
            margin-top: 15px;
            font-size: var(--size-body);
            line-height: var(--line-body);
            margin-bottom: 0;
            padding-right: 80px;
        }
    }
    &__small {
        padding: 0 20px;
        border-left: 1px solid #000;
        &:nth-last-child(2) {
            .article-content {
                padding-top: 30px;
            }
            .title-secondary {
                font-size: calc(1.33rem * 0.75);
                line-height: calc(1.6rem * 0.75);
                font-weight: 400;
                margin: 0;
                letter-spacing: -0.3px;
                text-align: justify;
            }
            .desription {
                font-size: var(--size-body);
                line-height: var(--line-body);
                padding: 15px 0;
                text-align: justify;
            }
        }
        &:last-child {
            .article {
                display: flex;
                flex-direction: column;
            }
            .article-img {
                order: 2;
                margin-top: 10px;
            }
            .title-secondary {
                font-size: calc(1.33rem * 0.75);
                line-height: calc(1.6rem * 0.75);
                font-weight: 400;
                margin: 0;
                letter-spacing: -0.3px;
                text-align: justify;
            }
            .desription {
                font-size: var(--size-body);
                line-height: var(--line-body);
                padding: 15px 0;
                text-align: justify;
            }
        }
    }

    &__slides {
        opacity: 0;
        max-height: 0;
        pointer-events: none;
        overflow: hidden;
    }
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 120px;
        top: 48px;
        width: 40px;
        height: 40px;
        z-index: 50;
        border-radius: 50%;
        border: 1px solid var(--color-minsk);
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: auto;
        right: 170px;
        top: 48px;
        width: 40px;
        height: 40px;
        z-index: 50;
        border-radius: 50%;
        border: 1px solid var(--color-minsk);
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 16px;
        color: var(--color-minsk);
    }
}

.section-septenary {
    padding-top: 150px;
    background-color: hsla(20, 76%, 82%, 0.2);

    &__panes {
        max-width: 100%;
        position: relative;
        .article-content {
            display: none;
            text-align: center;
            padding-top: 30px;
            font-family: Frunchy;
            font-weight: 400;
            font-size: calc(var(--heading-scale) * 3rem);
            line-height: calc(var(--heading-scale) * 4.185rem);
            margin: 0;
            text-transform: uppercase;
            background: #eb3f94;
            background: linear-gradient(
                90deg,
                #eb3f94 0,
                #ca3b8d 10%,
                #9e3684 25%,
                #79327d 40%,
                #5d2f77 55%,
                #492d73 70%,
                #3d2c70 85%,
                #392c70
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: var(--frunchy-stroke) currentColor;
        }
        .swiper {
            padding-top: 50px;
        }
        .swiper-slide-active {
            transform: translateY(-40px);
            .image-wrapper-50 {
                padding-bottom: 65%;
            }
            .article-content {
                display: block;
            }
        }
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            right: 270px;
            top: -48px;
            width: 40px;
            height: 40px;
            z-index: 50;
            border-radius: 50%;
            border: 1px solid var(--color-minsk);
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: auto;
            right: 320px;
            top: -48px;
            width: 40px;
            height: 40px;
            z-index: 50;
            border-radius: 50%;
            border: 1px solid var(--color-minsk);
        }
        .swiper-button-next:after,
        .swiper-button-prev:after {
            font-size: 16px;
            color: var(--color-minsk);
        }
    }
}

.section-octonary {
    padding-top: 102px;

    &__left {
        width: 27.625%;
    }

    &__right {
        width: 60%;
    }
    &__row {
        min-height: 130px;
        .title {
            border-bottom: 1px solid #000;
        }
        .content-left {
            width: 20%;
            &__icon {
                svg {
                    width: 50px;
                    height: 50px;
                }
            }
            &__arrow {
                width: 50%;
            }
            .swiper-button-prev,
            .swiper-rtl .swiper-button-next {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid var(--color-minsk);
            }
            .swiper-button-next,
            .swiper-rtl .swiper-button-prev {
                right: 20px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid var(--color-minsk);
            }
            .swiper-button-next:after,
            .swiper-button-prev:after {
                font-size: 12px;
                color: var(--color-minsk);
            }
        }
        .content-right {
            width: 80%;
        }

        .swiper-slide__img {
            height: 50%;
            width: calc(12.5vw - 20px);
            max-height: 101px;
            -o-object-fit: contain;
            object-fit: contain;
            margin: 0 0 0 20px;
            transform: scale(0.9);
            &--fix {
                max-height: 50px;
            }
        }
        .swiper-slide {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.section-nonary {
    position: relative;
    padding-bottom: 40px;
    padding-top: var(--header-height);
    min-height: 100vh;
    background-image: url("../images/testimonial_bg_desktop.b4aa4ade.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    &__container {
        display: flex;
        flex-direction: column;
    }
    & .line-vertical {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-0.5px);
        width: 1px;
        height: calc(1.6 * var(--header-height));
        background-color: #f9f4f1;
    }
    & .line {
        align-self: center;
        width: 200px;
        height: 1px;
        background-color: var(--color-green);
        margin-top: 20px;
    }

    &__content {
        .article {
            transition: width 1s ease 0s;
            display: flex;
            align-items: stretch;
            background-color: rgb(250, 244, 241);
        }
        .article-img {
            flex-shrink: 0;
            width: 30%;

            .coating {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.5);
                transition: all 1s ease;
            }
        }

        .article-content {
            flex: 1;
            position: relative;
            overflow: hidden;
            padding: 40px;

            .light-img {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 800px;
                height: 800px;
                transform: translate(50%, 50%);
            }
        }
        .article-des {
            max-height: 180px;
            overflow: auto;
            margin-bottom: 10px;
            &::-webkit-scrollbar {
                width: 6px;
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.5);
            }
            &::-webkit-scrollbar-track {
                border-radius: 8px;
                background-color: transparent;
            }
            &__text {
                font-size: var(--size-body);
                line-height: var(--line-body);
                color: #000;
                margin: 0;
            }
        }
        .articles-icon__primary {
            width: 40px;
            height: 27px;
            margin-bottom: 10px;
        }
        .articles-icon__secondary {
            width: 60px;
            height: 40px;
            transform: rotate(180deg);
            margin-left: auto;
            display: block;
        }

        .article-public {
            display: flex;
            flex-direction: column;
            &__text-primary {
                font-size: 12px;
                line-height: 18px;
                text-transform: uppercase;
                color: #000;
                display: block;
                margin-bottom: 10px;
            }
            &__text-secondary {
                background: #eb3f94;
                background: linear-gradient(
                    90deg,
                    #eb3f94 0,
                    #ca3b8d 10%,
                    #9e3684 25%,
                    #79327d 40%,
                    #5d2f77 55%,
                    #492d73 70%,
                    #3d2c70 85%,
                    #392c70
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: calc(var(--global-heading-scale) * 3.33rem * 0.75);
                line-height: calc(var(--global-heading-scale) * 4.8rem * 0.75);
                letter-spacing: -1.28px;
                text-transform: uppercase;
                display: block;
            }
            &__text-tertiary {
                font-size: 16px;
                text-transform: uppercase;
                color: #000;
                display: block;
            }
        }

        .swiper-slide {
            width: 75%;

            &.swiper-slide-active {
                .coating {
                    height: 0;
                }
            }
            &.swiper-slide-prev {
                .article {
                    flex-direction: row-reverse;
                }
            }
        }
        .swiper-button-next {
            width: 100px;
            height: 100px;
            &:after {
                content: "";
                width: 100px;
                height: 100px;
                display: inline-block;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42.71 42.71' width='42.71' height='42.71' fill='rgb(87 187 182)'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M21.35 1.42c11.01 0 19.94 8.93 19.94 19.94 0 11.01-8.93 19.94-19.94 19.94-11.01-.01-19.93-8.93-19.93-19.95 0-11.01 8.92-19.93 19.93-19.93m0-1.42C9.58 0 0 9.58 0 21.35S9.58 42.7 21.35 42.7 42.7 33.12 42.7 21.35 33.13 0 21.35 0Z' style='fill: rgb(87 187 182);'%3E%3C/path%3E%3Cpath d='M30.75 21.35H11.82' style='stroke-width: 1px; fill: none; stroke: rgb(87 187 182); stroke-linecap: square; stroke-linejoin: bevel;'%3E%3C/path%3E%3Cpath d='M27.53 17.6s-.2 3.16 3.36 3.75c-3.56.59-3.36 3.75-3.36 3.75' style='fill: none; stroke: rgb(87 187 182); stroke-linecap: square; stroke-linejoin: bevel; stroke-width: 1.42px;'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .swiper-button-prev {
            width: 100px;
            height: 100px;
            &:after {
                content: "";
                width: 100px;
                height: 100px;
                display: inline-block;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' width='42.71' height='42.71' viewBox='0 0 42.71 42.71' fill='rgb(87 187 182)'%3E%3Cg data-name='Layer 1'%3E%3Cpath d='M21.35 1.42c11.01 0 19.94 8.93 19.94 19.94 0 11.01-8.93 19.94-19.94 19.94-11.01-.01-19.93-8.93-19.93-19.95 0-11.01 8.92-19.93 19.93-19.93m0-1.42C9.58 0 0 9.58 0 21.35S9.58 42.7 21.35 42.7 42.7 33.12 42.7 21.35 33.13 0 21.35 0Z' style='fill: rgb(87 187 182);'%3E%3C/path%3E%3Cpath d='M11.96 21.35h18.93' style='stroke-width: 1px; fill: none; stroke: rgb(87 187 182); stroke-linecap: square; stroke-linejoin: bevel;'%3E%3C/path%3E%3Cpath d='M15.18 17.6s.2 3.16-3.36 3.75c3.56.59 3.36 3.75 3.36 3.75' style='fill: none; stroke: rgb(87 187 182); stroke-linecap: square; stroke-linejoin: bevel; stroke-width: 1.42px;'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}

.section-decenary {
    padding-top: 60px;
    background-color: #fdf3ef;
    &__top {
        height: 35vh;
        background-size: cover;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        background-image: url("../images/footer_bg.b5df0f2c.jpg");

        .heading {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
        }
        .title {
            font-family: Frunchy;
            font-size: calc(6.08rem * 0.75);
            line-height: calc(4.75rem * 0.75);
            margin: 0 0 20px;
            font-weight: 400;
            color: var(--color-green);
            -webkit-text-stroke: var(--frunchy-stroke) currentColor;
            width: 30vw;
        }
        .des {
            margin: 0;
            width: 30vw;
            font-size: var(--size-body);
            line-height: var(--line-body);
            color: #fff;
            text-align: justify;
        }
    }

    &__bot {
        &-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            flex: 1 1;
        }
    }

    &__left {
        flex: 2 1;
        border-right: 0.71px solid #000;

        .heading {
            height: 130px;
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .title {
                position: absolute;
                top: 35px;
                left: 0;
                font-family: Frunchy;
                font-weight: 400;
                font-size: calc(4.5rem * 0.75);
                line-height: calc(5rem * 0.75);
                opacity: 1;
                transform: none;
                &:nth-child(2) {
                    top: 85px;
                }
            }
            .gradPink {
                display: inline-block;
                -webkit-text-stroke: var(--frunchy-stroke) transparent;
            }
        }
    }

    &__form {
        .form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            padding-right: 20px;
            position: relative;
        }
        .HomeFooter_inputsRow__2JOE7 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: -20px;
            margin-right: -20px;
            .HomeFooter_inputComp__myr8X {
                width: 50%;
                padding: 20px;
                margin-bottom: 20px;
            }
        }
        .HomeFooter_inputComp__myr8X {
            display: flex;
            flex-direction: column;
            label {
                text-transform: uppercase;
                font-weight: 500;
                font-size: var(--size-body);
            }
            input {
                background-color: transparent;
                outline: none;
                height: 50px;
                font-size: var(--size-body);
                border: none;
                border-bottom: 1px solid #000;
                width: 100%;
                border-radius: 0;
            }
        }
        .HomeFooter_submitButton__K9F5u {
            margin-top: 30px;
            background-color: #000;
            position: relative;
            height: 52.21px;
            cursor: pointer;
        }
        .HomeFooter_decorateRibbon__7VXpI {
            position: absolute;
            top: 0;
            left: -8.335vw;
            bottom: 0;
            right: 0;
            background-color: #000;
        }
        .HomeFooter_submitButtonInner__A_dcJ {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            span {
                font-size: var(--size-body);
                font-weight: 500;
                color: #57bab5;
            }
        }
        .HomeFooter_submitIcon__ulDxz {
            padding-right: 20px;
            cursor: pointer;
        }
        .HomeFooter_followUs__HVlRI {
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: var(--size-body);
            span {
                margin-right: 65px;
            }
            svg {
                margin: 0 10px;
            }
        }

        .text {
            font-size: var(--size-body);
            line-height: var(--line-body);
            text-align: justify;
            margin: 15px 0;
        }
    }

    &__right {
        flex: 3 1;
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        position: relative;
        .HomeFooter_addressInfo__P0GEy {
            display: flex;
            flex-direction: column;
            width: 400px;
        }

        .HomeFooter_h5__2RK_G {
            font-size: var(--size-body);
            font-weight: 700;
            padding: 15px 0;
        }
        .HomeFooter_contactInfoRow__vQkH_ {
            padding: 20px 0 10px;
            display: flex;
            align-items: flex-start;
            svg {
                margin-right: 20px;
            }
            div {
                font-size: var(--size-body);
                line-height: var(--line-body);
                flex: 1 1;
                max-width: 280px;
                text-align: justify;
                padding-right: 10px;
                a {
                    font-size: 24px;
                    margin: 0;
                    line-height: 24px;
                    display: flex;
                    transform: translateY(-3px);
                }
            }
        }

        .HomeFooter_imageInfo__7ITLE {
            flex: 1 1;
            margin-left: 10px;
            position: relative;
            .HomeFooter_decorate__DiQzQ {
                position: absolute;
                right: -8.335vw;
                bottom: 50%;
            }
            .HomeFooter_imgDecorate__DQRNQ {
                width: 300px;
                height: 50vh;
                -o-object-fit: cover;
                object-fit: cover;
            }
        }

        .HomeFooter_imageInfoInner__CQ9To {
            position: absolute;
            bottom: 0;
            left: 0;
            .HomeFooter_img__iFZLW {
                width: 30vw;
                height: auto;
            }
        }
    }
}

.heading {
    &-primary {
    }
    &-secondary {
        display: block;
        font-family: Frunchy;
        font-size: calc(var(--h-scale) * calc(5.5rem * 0.75));
        line-height: unset;
        letter-spacing: -1.98px;
        text-transform: uppercase;
        -webkit-text-stroke: var(--frunchy-stroke-2x) transparent;
    }
    &-tertiary {
        font-size: calc(1.33rem * 0.75);
        font-weight: 400;
        text-transform: uppercase;
        // margin: 0;
        background: #eb3f94;
        background: linear-gradient(
            90deg,
            #eb3f94 0,
            #ca3b8d 10%,
            #9e3684 25%,
            #79327d 40%,
            #5d2f77 55%,
            #492d73 70%,
            #3d2c70 85%,
            #392c70
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &-quaternary {
        font-family: Frunchy;
        text-transform: uppercase;
        font-weight: 400;
        overflow: hidden;
        -webkit-text-stroke: var(--frunchy-stroke-2x) transparent;
        transform: translateZ(0);
        transform-style: preserve-3d;
        font-size: calc(5rem * 0.75);
        line-height: calc(5.583rem * 0.75);
        margin-top: 5px;
    }
    &-quinary {
        font-family: Frunchy;
        color: #fff;
        font-size: calc(5rem * 0.75);
        line-height: calc(5.5rem * 0.75);
        text-transform: uppercase;
        margin: 0;
        font-weight: 400;
        -webkit-text-stroke: var(--frunchy-stroke) #fff;
    }
    &-septenary {
        font-family: Frunchy;
        font-weight: 400;
        font-size: calc(var(--heading-scale) * calc(4rem * 0.75));
        line-height: calc(var(--heading-scale) * calc(5.58rem * 0.75));
        margin: 0;
        text-transform: uppercase;
        background: #eb3f94;
        background: linear-gradient(
            90deg,
            #eb3f94 0,
            #ca3b8d 10%,
            #9e3684 25%,
            #79327d 40%,
            #5d2f77 55%,
            #492d73 70%,
            #3d2c70 85%,
            #392c70
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: var(--frunchy-stroke) currentColor;
    }
    &-octonary {
        font-size: calc(var(--heading-scale) * 6.66rem * 0.75);
        line-height: calc(var(--heading-scale) * 6.66rem * 0.75);
        text-transform: uppercase;
        margin: 0;
        font-family: Frunchy;
        color: #fff;
        stroke: #fff;
        font-weight: 400;
        stroke-width: 1px;
        -webkit-text-stroke: var(--frunchy-stroke-2x) #fff;
    }
    &-nonary {
        font-family: Frunchy;
        font-size: calc(5.5rem * var(--global-heading-scale) * 0.75);
        line-height: calc(5rem * var(--global-heading-scale) * 0.75);
        letter-spacing: -1.98px;
        text-transform: uppercase;
        color: var(--color-green);
        margin-top: 30px;
        text-align: center;
        -webkit-text-stroke: var(--frunchy-stroke-2x) var(--color-green);
    }
    &-intro-tertiary-rotate {
        width: 100px;
        position: relative;
        height: 300px;
        span {
            display: block;
            font-family: Frunchy;
            font-size: calc(46px * var(--heading-scale));
            line-height: calc(58.82px * var(--heading-scale));
            text-transform: uppercase;
            font-weight: 400;
            margin: 0;
            -webkit-text-stroke: var(--frunchy-stroke) currentColor;
            position: absolute;
            transform: rotate(270deg) translateX(-100%);
            transform-origin: top left;
            width: 300px;
            top: 0;
            left: -5px;
        }
    }

    &-intro-quinary {
        font-family: Frunchy;
        text-transform: uppercase;
        font-weight: 400;
        overflow: hidden;
        -webkit-text-stroke: var(--frunchy-stroke-2x) transparent;
        transform: translateZ(0);
        transform-style: preserve-3d;
        font-size: 70px;
        line-height: 60.68px;
        letter-spacing: -2.24px;
        margin: 0;
    }
    &-cate-1-parimary {
        display: block;
        font-family: Frunchy;
        font-size: calc(var(--heading-scale) * (5rem * 0.75));
        line-height: calc(var(--heading-scale) * (4.08rem * 0.75));
        text-align: center;
        font-weight: 400;
        -webkit-text-stroke: var(--frunchy-stroke) currentColor;
    }
    &-hyphen {
        height: 1.42px;
        background-color: #fff;
        width: 87px;
        margin-right: 20px;
    }
}

.btn-primary {
    &-link {
        position: relative;
        cursor: pointer;
    }
    &-level-1 {
        width: max(10vw, 200px);
    }
    &-level-2 {
        padding-top: 32.1816%;
    }
    &-level-3 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &-level-4 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        // color: var(--color-green);
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    &-level-5 {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    &-level-6 {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(50% 0, 50% 0);
        clip-path: polygon(50% 0, 50% 0);
    }
    &-hover {
        &:hover .btn-primary-hoverShow {
            animation: ButtonHandWritingHover_clockwise__HjstX 0.3s;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
        }
    }
    &.active {
        .btn-primary-hoverShow {
            animation: ButtonHandWritingHover_clockwise__HjstX 0.3s;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
        }
    }
}

.btn-secondary {
    &-link {
        position: relative;
        cursor: pointer;
    }
    &-level-1 {
        width: max(10vw, 200px);
        transform: scale(1.3);
    }
    &-level-2 {
        padding-top: 32.1816%;
    }
    &-level-3 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &-level-4 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        color: #3f2e6b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    &-level-5 {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    &-level-6 {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(50% 0, 50% 0);
        clip-path: polygon(50% 0, 50% 0);
    }

    &-text-1 {
        font-size: calc(0.83rem * 0.75);
        letter-spacing: 3.4px;
        line-height: -30px;
        text-transform: uppercase;
        color: #3e3269;
        font-weight: 500;
        transform: translateY(3px);
    }

    &-text-2 {
        font-family: Frunchy;
        font-size: calc(2.9166rem * 0.75);
        line-height: -30px;
        text-transform: uppercase;
        color: #3e3269;
        -webkit-text-stroke: var(--frunchy-stroke-2x) #3e3269;
    }

    &-hover {
        &:hover .btn-secondary-hoverShow {
            animation: ButtonHandWritingHover_clockwise__HjstX 0.3s;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
        }
    }
    &.active {
        .btn-secondary-hoverShow {
            animation: ButtonHandWritingHover_clockwise__HjstX 0.3s;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
        }
    }
}

.btn-tertiary {
    &-link {
        position: relative;
        cursor: pointer;
    }
    &-level-1 {
        width: max(10vw, 191px);
        transform: scale(1);
    }
    &-level-2 {
        padding-top: 32.1816%;
    }
    &-level-3 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &-level-4 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        color: #3f2e6b;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    &-level-5 {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    &-level-6 {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(50% 0, 50% 0);
        clip-path: polygon(50% 0, 50% 0);
    }

    &-text-1 {
        font-size: calc(0.83rem * 0.75);
        letter-spacing: 3.4px;
        line-height: -30px;
        text-transform: uppercase;
        color: #3e3269;
        font-weight: 500;
        transform: translateY(3px);
    }

    &-text-2 {
        font-family: Frunchy;
        font-size: calc(2.9166rem * 0.75);
        line-height: -30px;
        text-transform: uppercase;
        color: #3e3269;
        -webkit-text-stroke: var(--frunchy-stroke-2x) #3e3269;
    }

    &-hover {
        &:hover .btn-tertiary-hoverShow {
            animation: ButtonHandWritingHover_clockwise__HjstX 0.3s;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
        }
    }
    &.active {
        .btn-tertiary-hoverShow {
            animation: ButtonHandWritingHover_clockwise__HjstX 0.3s;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
        }
    }
}

.btn-quaternary {
    &-link {
        position: relative;
        cursor: pointer;
    }
    &-level-1 {
        width: max(8vw, 120px);
    }
    &-level-2 {
        padding-top: 32.1816%;
    }
    &-level-3 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &-level-4 {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        // color: var(--color-minsk);
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    &-level-5 {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    &-level-6 {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(50% 0, 50% 0);
        clip-path: polygon(50% 0, 50% 0);
    }
    &-hover {
        &:hover .btn-quaternary-hoverShow {
            animation: ButtonHandWritingHover_clockwise__HjstX 0.3s;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
        }
    }
    &.active {
        .btn-quaternary-hoverShow {
            animation: ButtonHandWritingHover_clockwise__HjstX 0.3s;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
        }
    }
}

.mix-blend-1 {
    position: absolute;
    bottom: var(--bottom-space);
    left: 0;
    right: 0;
    height: var(--arrow-size);
    mix-blend-mode: hue;
    isolation: isolate;
    background-color: rgb(63, 46, 107);
    opacity: 0.5;
}

.mix-blend-2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: color;
    isolation: isolate;
    background-color: #000;
    -webkit-clip-path: var(--clip-start);
    clip-path: var(--clip-start);
    transition: -webkit-clip-path 0.5s;
    transition: clip-path 0.5s;
    transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
.mix-blend-3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    mix-blend-mode: color;
    isolation: isolate;
    background-color: rgb(62, 50, 105);
    -webkit-clip-path: var(--clip-start);
    clip-path: var(--clip-start);
    transition: -webkit-clip-path 0.5s;
    transition: clip-path 0.5s;
    transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}
.hover-mix-blend-2 {
    &:hover .mix-blend-2 {
        clip-path: var(--clip-end);
    }
}
.hover-mix-blend-3 {
    &:hover .mix-blend-3 {
        clip-path: var(--clip-end);
    }
}
.ele-pane {
    // display: none;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    &.active {
        max-height: 100%;
        opacity: 1;
        visibility: visible;
        display: block;
    }
}
.gradPink {
    background: #eb3f94;
    background: linear-gradient(
        90deg,
        #eb3f94 0,
        #ca3b8d 10%,
        #9e3684 25%,
        #79327d 40%,
        #5d2f77 55%,
        #492d73 70%,
        #3d2c70 85%,
        #392c70
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hover-scale {
    img {
        transition: all 1s linear;
    }
    &:hover {
        img {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            isolation: isolate;
        }
    }
}
.pt-0 {
    padding-top: 0 !important;
}

.coating-2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.1) 50%,
        transparent
    );
}
