@media screen and (max-width: 2160px) {
    :root {
        --heading-scale: 1.125;
    }
}
@media screen and (max-width: 1950px) {
    :root {
        --bottom-space: 80px;
        --arrow-size: 97px;
        --box-padding: 50px;
        --box-padding-vertical: 30px;
        --heading-scale: 1;
    }
}
@media screen and (max-width: 1800px) {
    :root {
        --bottom-space: 60px;
        --arrow-size: 80px;
        --heading-scale: 0.88;
        --box-padding: 35px;
        --box-padding-vertical: 20px;
    }
    .section-octonary {
        &__row {
            .content-left {
                .swiper-button-next,
                .swiper-rtl .swiper-button-prev {
                    right: 20px;
                }
                .swiper-button-prev,
                .swiper-rtl .swiper-button-next {
                    left: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 1750px) {
    :root {
        --h-scale: 0.88;
    }
}
@media screen and (max-width: 1700px) {
    :root {
        --heading-scale: 0.8;
    }
}
@media screen and (max-width: 1600px) {
    :root {
        --heading-scale: 0.8;
        --bottom-space: 50px;
        --arrow-size: 70px;
        --box-padding: 30px;
        --box-padding-vertical: 20px;
        --h-scale: 0.83;
    }
    .section-octonary {
        &__row {
            .content-left {
                .swiper-button-next,
                .swiper-rtl .swiper-button-prev {
                    right: 7px;
                }
                .swiper-button-prev,
                .swiper-rtl .swiper-button-next {
                    left: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 1575px) {
    :root {
        --heading-scale: 0.75;
        --bottom-space: 50px;
        --arrow-size: 70px;
        --box-padding: 30px;
        --box-padding-vertical: 20px;
    }
}
@media screen and (max-width: 1550px) {
    :root {
        --bottom-space: 60px;
        --arrow-size: 80px;
        --heading-scale: 0.75;
    }
    .section-primary {
        .article-content {
            .article-info {
                height: 180px;
            }

            .article-des {
                &::-webkit-scrollbar {
                    width: 4px;
                }
            }
        }
    }
}
@media screen and (max-width: 1440px) {
    :root {
        --h-scale: 0.75;
        --bottom-space: 50px;
        --arrow-size: 60px;
        --heading-scale: 0.7;
    }
    .navbar,
    .header.sticky .navbar {
        font-size: 10px;
    }
    .section-primary {
        .article-content {
            .article-info {
                height: 160px;
            }
        }
    }
    .section-secondary {
        &__right {
            width: 50%;
            &-inner {
                width: 80%;
            }
            &-container {
                transform: translate(-56px, -68px);
            }
        }
    }
    .section-tertiary {
        &__top--right {
            .inner {
                width: 100%;
            }
        }
        .image-wrapper-110 {
            padding-bottom: 120%;
        }

        &__card-skew {
            width: 92px;
        }
    }
    .section-quinary {
        &__right {
            max-width: calc(100% - 330px);
            .article-number {
                font-size: 120px;
            }
            .article-des {
                font-size: calc(1.167rem * 0.75);
            }
        }
    }
    .section-senary {
        padding-top: 90px;
        .image-wrapper-40 {
            padding-bottom: 75%;
        }
        &__large {
            .title-primary p {
                font-size: 20px;
                line-height: 19px;
            }
        }
    }
    .section-nonary {
        &__content {
            .article-img {
                flex-shrink: 0;
                width: 45%;
            }
        }
    }
    .section-decenary {
        &__right {
            .HomeFooter_addressInfo__P0GEy {
                width: 280px;
            }
            .HomeFooter_imageInfo__7ITLE .HomeFooter_decorate__DiQzQ {
                bottom: 20%;
            }
        }

        &__left {
            .heading .title {
                font-size: 45px;
                line-height: 48px;
            }
        }
    }

    .heading {
        &-quaternary {
            font-size: 3rem;
        }
        &-quinary {
            font-size: 46px;
        }
    }

    .btn {
        &-secondary {
            &-level-1 {
                transform: scale(1);
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    :root {
        --h-scale: 0.71;
    }
}
// max width 1280px
@media (max-width: 80em) {
    :root {
        --h-scale: 0.66;
    }
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- index*/
    .modal {
        &-container {
            width: 65%;
        }
        &-form {
            &__content .PopupFormAll_form__Fh1Ls {
                h5 {
                    font-size: calc(2.3rem * 0.75);
                    line-height: calc(3.3rem * 0.75);
                }
                p {
                    font-size: 0.75rem;
                    line-height: calc(1.25rem * 0.75);
                }
            }
        }
    }
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
}
@media screen and (max-width: 1180px) {
    :root {
        --bottom-space: 50px;
        --arrow-size: 60px;
        --box-padding: 20px;
        --box-padding-vertical: 20px;
        --heading-scale: 0.5;
    }
}
@media screen and (max-width: 1130px) {
    :root {
        --heading-scale: 0.45;
    }
}
@media screen and (max-width: 1100px) {
    :root {
        position: absolute;
        left: 0;
        right: 0;
        --heading-scale: 0.55;
        --bottom-space: 30px;
    }
}
// max width 1024px
@media (max-width: 64em) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }

    /*------------------------------------------------------------- header*/
    .navbar-right {
        justify-content: end;
    }
    .header:hover ~ .overlay {
        background-color: transparent;
        visibility: hidden;
        opacity: 0;
    }

    /*------------------------------------------------------------- index*/
    .section-primary {
        min-height: 50vh;
        .article-content {
            .article-info {
                height: 105px;
                padding: 10px 15px;
            }
            .article-info__inner {
                margin-top: 4px;
            }
        }
        &__inner .swiper-slide .article-comma svg {
            width: 12px;
            height: 8px;
        }
    }
    .section-secondary {
        &__left {
            margin-top: 0;
        }
        &__list {
            padding-right: 0;
        }
    }
    .section-tertiary {
        &__top {
            padding-bottom: 20px;
        }
        &__top--right {
            .inner {
                margin-left: 0;
            }
        }
    }
    .section-quaternary {
        .btn-list {
            bottom: auto;
            top: 20%;
            right: 0;
        }

        &-slide {
            bottom: 10%;
            left: 85px;
        }
    }
    .section-quinary {
        &__right {
            max-width: 100%;
            .article {
                border-left: 0;
            }
            .article-number {
                font-size: 50px;
                padding: 7px 2px 7px 0;
                line-height: 50px;
            }
            .article-text {
                padding-left: 15px;
            }
            .article-des {
                padding-bottom: 12px;
            }
            .article-public {
                font-size: 12px;
                line-height: 16px;
            }
            .swiper-slide:nth-child(even) .article-number {
                padding-top: 7px;
            }
            .swiper-slide:not(.swiper-slide-active) {
                .article-content {
                    display: none;
                }
                .image-wrapper-120 {
                    padding-bottom: 70%;
                }
                transform: translateY(50px);
            }
        }
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next,
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev {
            display: none;
        }
    }

    .section-senary {
        .image-wrapper-40 {
            padding-bottom: 70%;
        }
        &__small {
            padding: 40px 20px;
            border-top: 1px solid #00000042;
            border-left: 0;

            .article {
                display: flex;
            }
            .desription {
                display: none;
            }
            .article-img {
                width: 30%;
                flex-shrink: 0;
            }
            .article-content {
                flex: 1;
            }
            &:nth-last-child(2) .article-content,
            &:last-child .article-content {
                padding-top: 10px;
                padding-left: 15px;
                margin-top: auto;
            }
            &:nth-last-child(2) .title-secondary,
            &:last-child .title-secondary {
                font-size: calc(0.83rem * 0.75);
                text-align: right;
            }
            &:last-child .article {
                flex-direction: row;
            }
            &:last-child .article-img {
                order: 1;
            }
            &:last-child .article-content {
                order: 2;
            }
        }
    }
    .section-septenary {
        &__panes {
            .swiper-button-prev,
            .swiper-rtl .swiper-button-next,
            .swiper-button-next,
            .swiper-rtl .swiper-button-prev {
                display: none;
            }
            :nth-child(2) {
                .swiper {
                    padding: 15px;
                }
            }
        }
    }
    .section-octonary {
        &__left,
        &__right {
            width: 100%;
        }

        &__row {
            min-height: 245px;
            .content-left .swiper-button-next,
            .section-octonary__row
                .content-left
                .swiper-rtl
                .swiper-button-prev {
                right: 10px;
            }
            .content {
                height: 200px;
            }
            .content-right,
            .swiper,
            .swiper-wrapper {
                height: 100%;
            }
        }
    }

    .section-nonary {
        min-height: auto;
        &__content .article {
            display: block;
        }
        &__content {
            .article-img {
                width: 100%;
            }

            .article-content {
                padding: 20px;
                .light-img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 400px;
                    height: 400px;
                    transform: translate(-50%, 50%);
                }
            }

            .articles-icon__primary {
                width: 16px;
                height: 10px;
                margin-bottom: 4px;
            }
            .articles-icon__secondary {
                width: 16px;
                height: 10px;
                transform: rotate(180deg);
                margin-left: auto;
                margin-top: 10px;
                display: block;
            }

            .article-public__text-secondary {
                font-size: 16px;
                line-height: 22px;
                letter-spacing: -1.28px;
                text-transform: uppercase;
                display: block;
            }
            .swiper-slide {
                &:not(.swiper-slide-active) {
                    .article {
                        transform: translateY(50px);
                    }
                    .article-content {
                        display: none;
                    }
                }
            }
            .swiper-button-next:after,
            .swiper-button-prev:after {
                content: "";
                width: 50px;
                height: 50px;
            }
            .swiper-button-next,
            .swiper-button-prev {
                width: 50px;
                height: 50px;
                top: 20%;
            }
        }
    }

    .section-decenary {
        &__left {
            .heading .title {
                font-size: 35px;
                line-height: 38px;
            }
        }
        &__right {
            .HomeFooter_imageInfo__7ITLE .HomeFooter_decorate__DiQzQ {
                display: none;
            }
        }
    }
    .heading-quaternary {
        font-size: 36px;
        line-height: calc(3.333rem * 0.75);
    }
    .btn-secondary-level-1 {
        width: max(10vw, 155px);
    }
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
}
@media screen and (max-width: 950px) and (orientation: portrait) {
    :root {
        --heading-scale: 0.35;
    }
    .section-primary {
        &__inner {
            width: 90%;
        }
        .image-wrapper-110 {
            padding-bottom: 120%;
        }
        .article-info__inner {
            .fix-text4 {
                &:not(.full) {
                    -webkit-line-clamp: 3;
                }
            }
        }
        &__since span:last-of-type {
            font-size: 32.5px;
            font-weight: 300;
        }
    }

    .section-secondary {
        .heading-icon {
            display: none;
        }
    }

    .section-tertiary {
        &__card-skew {
            width: 60px;
        }
    }

    .section-quinary {
        padding-top: 50px;
        .swiper {
            padding-top: 70px;
        }
        .swiper-slide {
            &.swiper-slide-active {
                transform: scale(1.3);
            }
        }
    }

    .section-senary {
        .image-wrapper-40 {
            padding-bottom: 60%;
        }
        &__large {
            .title-primary {
                svg {
                    width: 12px;
                }
                p {
                    margin-top: 10px;
                }
            }
        }
    }

    .section-octonary {
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            left: 0;
        }
        &__row {
            min-height: 180px;
            .content {
                height: 150px;
            }
            .content-left .swiper-button-next,
            .section-octonary__row
                .content-left
                .swiper-rtl
                .swiper-button-prev {
                right: 7px;
            }
        }
    }

    .section-decenary {
        &__right {
            .HomeFooter_addressInfo__P0GEy {
                width: 100%;
            }
            .HomeFooter_imageInfo__7ITLE {
                display: none;
            }
        }
    }
    .btn-secondary {
        &-level-1 {
            transform: scale(0.8);
        }
    }

    .heading-quaternary {
        font-size: 35px;
        line-height: 30px;
    }
}
// max width 768px
@media (max-width: 48em) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }

    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- footer*/
    /*------------------------------------------------------------- index*/
    .w-wrapper {
        width: 90%;
    }
    .section-quaternary {
        .btn-list {
            top: 32%;
        }
        &-slide {
            bottom: 0;
            left: 40px;
        }
        .swiper-slide {
            // width: 30% !important;
            // transform-origin: bottom left;
            // transition: width 1s;
        }
        .swiper-button-next:after {
            width: 70px;
            height: 70px;
        }
    }
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
}

// max width 640px
@media (max-width: 40em) {
    :root {
        --h-scale: 0.66;
    }
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }

    /*------------------------------------------------------------- header*/
    .header {
        padding: 10px;
        height: 67px;
        &.sticky {
            padding: 10px;
            .navbar-center {
                .navbar-center__logo img {
                    width: 83.2675px;
                    margin: 0;
                }
            }
        }
    }
    .navbar-center {
        .navbar-center__logo {
            img {
                width: 83.2675px;
            }
        }
    }
    /*------------------------------------------------------------- index*/
    .w-wrapper {
        width: 95%;
    }
    .modal {
        &-container {
            width: 85%;
            max-height: 85vh;
        }

        &-form {
            flex-direction: column;
            &__img {
                flex: 2 1;
                img {
                    width: 100%;
                }
            }
            &__content {
                flex: 3 1;
                overflow: auto;
                .PopupFormAll_form__Fh1Ls {
                    h5 {
                        font-size: 32px;
                    }
                }
            }
        }
        &-close {
            right: 10px;
            top: 10px;
        }
    }
    .text-gradient-primary {
        background: #eb3f94;
        background: linear-gradient(
            90deg,
            #eb3f94 0,
            #ca3b8d 10%,
            #9e3684 25%,
            #79327d 40%,
            #5d2f77 55%,
            #492d73 70%,
            #3d2c70 85%,
            #392c70
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .heading-primary {
        &__number {
            font-size: 35px;
        }
    }
    .heading-secondary {
        font-size: 35px;
        line-height: 45px;
    }
    .heading-quaternary {
        letter-spacing: -1px;
    }
    .heading-quinary {
        font-size: 35px;
        line-height: 45px;
    }
    .heading-nonary {
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.1px;
        margin-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .heading-hyphen {
        width: 36px;
    }
    .section-primary {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 40vh;
            background-color: #fff;
        }
        min-height: 100vh;
        padding-top: 67px;
        padding-bottom: 100px;
        &__container {
            bottom: auto;
            background-color: transparent;
            border: none;
        }

        &__inner {
            padding: 15px 0 0;
            background-color: #faf4f1;
            border: 0.7087px solid #3f2e6b;

            .swiper-slide {
                &-active .article {
                    display: block;
                }
            }
            .swiper {
                margin-left: 0;
                margin-right: 0;
            }
            .article-img {
                margin: 0 40px;
                .mix-blend-1 {
                    display: none;
                }
            }
            .article-content {
                background-color: #000;
                margin-top: -20px;
                display: flex;
                align-items: center;
                padding-bottom: 0;
            }

            .swiper-button-next {
                width: 30px;
                height: 30px;
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 50%;
                right: 6px;
                bottom: 80px;
                &:after {
                    width: 19px;
                    height: 9px;
                    animation: unset;
                }
            }
            .swiper-button-prev {
                width: 30px;
                height: 30px;
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 50%;
                left: 6px;
                bottom: 80px;
                &:after {
                    width: 19px;
                    height: 9px;
                    animation: unset;
                }
            }
        }

        .article-content {
            &__top {
                &-inner {
                    position: relative;
                    padding: 0 10px 5px;

                    .article-category {
                        font-size: 9px;
                        line-height: 31.53px;
                        letter-spacing: 0.45px;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                    .article-title__primary {
                        font-family: Frunchy;
                        font-size: 30px;
                        line-height: 30px;
                        letter-spacing: -0.6px;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: 400;
                        overflow: hidden;
                        -webkit-text-stroke: var(--frunchy-stroke-2x)
                            transparent;
                        transform: translateZ(0);
                        transform-style: preserve-3d;
                        background: #b03088;
                        background: linear-gradient(
                            90deg,
                            #b03088 0,
                            #602c76 21%,
                            #372b6e 41%,
                            #382f71 68%,
                            #426c8e
                        );
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    .article-title__secondary {
                        font-family: Frunchy;
                        font-size: 35px;
                        line-height: 27px;
                        letter-spacing: -0.6px;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: 400;
                        overflow: hidden;
                        -webkit-text-stroke: var(--frunchy-stroke-2x)
                            transparent;
                        transform: translateZ(0);
                        transform-style: preserve-3d;
                        background: #b03088;
                        background: linear-gradient(
                            90deg,
                            #b03088 0,
                            #602c76 21%,
                            #372b6e 41%,
                            #382f71 68%,
                            #426c8e
                        );
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
            .article-info {
                height: 130px;
                padding: 20px 40px;
            }
        }

        &__mb {
            flex-direction: column;
            height: 150px;

            &-line {
                background-color: #3f2e6b;
                opacity: 0.8;
                width: 1px;
                flex: 1 1;
                position: relative;
            }
        }
    }

    .section-secondary {
        padding-top: 80px;
        &__item {
            padding-bottom: 0;
            &-title {
                min-height: auto;
            }
        }
    }
    .section-tertiary {
        &__top {
            border-bottom: none;
        }
        .heading-tertiary {
            font-size: calc(1.1rem * 0.75);
        }
        &__slide {
            .swiper-slide {
                transition: all 0.2s;
                &:not(.swiper-slide-active) {
                    transform: scale(0.8);
                    .section-tertiary__card-skew,
                    .swiper-slide__text,
                    .swiper-slide__textSecondary,
                    .swiper-slide__textPrimary,
                    .section-tertiary__card-skew {
                        display: none;
                    }
                }
                &.swiper-slide-active {
                    .mix-blend-2 {
                        clip-path: var(--clip-end);
                    }
                }
                &__img {
                    padding-bottom: 35px;
                }
                .section-tertiary__card-skew {
                    transform: translate(40%, -20px);
                }
                .swiper-slide__text {
                    width: 200px;
                    height: 64px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                .swiper-slide__textPrimary {
                    display: block;
                    text-align: center;
                    font-size: calc(0.63rem * 0.75);
                    letter-spacing: 3.4px;
                    font-weight: 500;
                    transform: translateY(3px);
                    text-transform: uppercase;
                    color: #3e3269;
                }
                .swiper-slide__textSecondary {
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    color: #3e3269;
                    font-family: Frunchy;
                    font-size: calc(2.3166rem * 0.75);
                    -webkit-text-stroke: var(--frunchy-stroke) #3e3269;
                }
            }
        }
    }
    .section-quaternary {
        &__container {
            min-height: auto;
            position: unset;
        }
        .heading-icon {
            margin-top: 10px;
        }
        &__text {
            width: 100%;
        }
        .btn-list {
            bottom: 5%;
            top: auto;
            left: 15px;
            right: 15px;
            display: flex;
            z-index: 100;
            justify-content: center;
        }
        &-slide {
            position: relative;
            padding-bottom: 88px;
            left: auto;
        }
        .swiper-button-next {
            display: none;
        }
        .swiper-slide {
            &.swiper-slide-active .article-content {
                width: 100%;
                margin: 15px 0 40px;
                .article-number {
                    text-align: center;
                    font-family: Frunchy;
                    font-size: calc(2.9166rem * 0.75);
                    line-height: calc(1.67rem * 0.75);
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 400;
                    margin: 0;
                    display: block;
                }
                p {
                    font-weight: 700;
                    font-size: calc(0.83rem * 0.75);
                    text-transform: uppercase;
                    color: #fff;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 0;
                    margin-top: 10px;
                }
            }
            .article {
                display: block;
            }
        }
    }
    .section-quinary {
        .swiper {
            padding-top: 50px;
        }
        .swiper-slide {
            &.swiper-slide-active {
                transform: scale(1);
            }
        }
        &__right {
            .article {
                padding: 0;
            }
            .article-number {
                font-size: 80px;
            }
            .article-des {
                text-align: unset;
            }
        }
    }

    .section-senary {
        padding-top: 40px;
        .swiper-button-next,
        .swiper-rtl .swiper-button-prev,
        .swiper-button-prev,
        .swiper-rtl .swiper-button-next {
            display: none;
        }
        .image-wrapper-40 {
            padding-bottom: 100%;
        }
        &__large {
            .title-primary p {
                width: 100%;
                font-size: 12px;
                margin-top: 0;
                font-family: inherit;
                font-weight: normal;
            }
            .desription {
                padding-right: 0;
            }
        }
        &__small {
            .article-img {
                width: 45%;
            }
            &:nth-last-child(2) .title-secondary,
            &:last-child .title-secondary {
                text-align: justify;
            }
        }
    }
    .section-octonary {
        padding: 30px 20px;
        &__row {
            .content-left {
                display: none;
            }
            .content-right {
                width: 100%;
            }
            .swiper-slide__img {
                width: 72px;
            }
            .content {
                p {
                    margin-left: 0;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }

    .section-nonary {
        padding-top: 50px;
        .section-quaternary__heading {
            padding: 0 20px;
        }
        .line {
            width: 80px;
        }
        &__content {
            .article-public__text-primary {
                font-size: 8px;
            }
            .article-public__text-tertiary {
                font-size: 10px;
            }
        }
    }

    .section-decenary {
        &__bot-container {
            display: block;
        }
        &__top {
            padding: 20px;

            .title {
                width: 100%;
                font-size: 35px;
                margin-bottom: 0;
            }
            .des {
                width: 100%;
            }
        }
        &__left {
            padding: 0 20px;
            border-right: 0;
        }
        &__form {
            .HomeFooter_inputsRow__2JOE7 .HomeFooter_inputComp__myr8X {
                width: 100%;
                margin-bottom: 0;
            }
            .HomeFooter_submitButtonInner__A_dcJ span {
                font-size: 10px;
            }
            .HomeFooter_followUs__HVlRI {
                display: none;
            }
        }
        &__right {
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            display: block;
            .HomeFooter_followUs__HVlRI {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 10px;
                svg {
                    margin: 0 10px;
                }
            }
        }
    }
    .btn-tertiary {
        &-level-1 {
            width: max(10vw, 161px);
        }
        svg path {
            fill: rgb(238, 61, 150) !important;
        }
    }
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
    /*------------------------------------------------------------- footer*/
    #back-top {
        right: 10px;
        width: 46.74px;
        height: 74.61px;
    }
    .footer {
        height: unset;
        padding-bottom: 90px;
        .left {
            text-align: center;
            padding: 20px 20px 0;
            .HomeFooter_footerLink__Wtj7Y {
                margin-right: 0;
            }
        }
        .right {
            padding: 4px 20px 15px;
            justify-content: center;
            text-align: center;
            p {
                font-size: 0.5rem;
                padding: 0;
                margin: 0;
            }
        }
    }
}

// danh cho man hinh duoi 400px
@media (max-width: 25em) {
    .modal {
        &-form {
            &__content {
                .PopupFormAll_form__Fh1Ls {
                    h5 {
                        font-size: 28px;
                    }
                }
            }
        }
    }
}
@media (max-width: 20em) {
}
