@media screen and (max-width: 2160px) {
    :root {
        --heading-scale: 1.125;
    }
}
@media screen and (max-width: 1950px) {
    :root {
        --bottom-space: 80px;
        --arrow-size: 97px;
        --box-padding: 50px;
        --box-padding-vertical: 30px;
        --heading-scale: 1;
    }
}
@media screen and (max-width: 1800px) {
    :root {
        --bottom-space: 60px;
        --arrow-size: 80px;
        --heading-scale: 0.88;
        --box-padding: 35px;
        --box-padding-vertical: 20px;
    }
}
@media screen and (max-width: 1750px) {
    :root {
        --h-scale: 0.88;
    }
}
@media screen and (max-width: 1700px) {
    :root {
        --heading-scale: 0.8;
    }
}
@media screen and (max-width: 1600px) {
    :root {
        --heading-scale: 0.8;
        --bottom-space: 50px;
        --arrow-size: 70px;
        --box-padding: 30px;
        --box-padding-vertical: 20px;
        --h-scale: 0.83;
    }
}
@media screen and (max-width: 1575px) {
    :root {
        --heading-scale: 0.75;
        --bottom-space: 50px;
        --arrow-size: 70px;
        --box-padding: 30px;
        --box-padding-vertical: 20px;
    }
}
@media screen and (max-width: 1550px) {
    :root {
        --bottom-space: 60px;
        --arrow-size: 80px;
        --heading-scale: 0.75;
    }
}
@media screen and (max-width: 1440px) {
    :root {
        --h-scale: 0.75;
    }
}

@media screen and (max-width: 1366px) {
    :root {
        --h-scale: 0.71;
    }
}
// max width 1280px
@media (max-width: 80em) {
    :root {
        --h-scale: 0.66;
    }
    .d-xl-none {
        display: none;
    }
    .d-xl-block {
        display: block;
    }
    .d-xl-flex {
        display: flex;
    }
    .d-xl-grid {
        display: grid;
    }
    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- footer*/
    /*------------------------------------------------------------- index*/
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
}
// max width 1024px
@media (max-width: 64em) {
    .d-lg-none {
        display: none;
    }
    .d-lg-block {
        display: block;
    }
    .d-lg-flex {
        display: flex;
    }
    .d-lg-grid {
        display: grid;
    }

    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- footer*/
    /*------------------------------------------------------------- index*/
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
}

// max width 768px
@media (max-width: 48em) {
    .d-md-none {
        display: none;
    }
    .d-md-block {
        display: block;
    }
    .d-md-flex {
        display: flex;
    }
    .d-md-grid {
        display: grid;
    }

    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- footer*/
    /*------------------------------------------------------------- index*/
    .w-wrapper {
        width: 90%;
    }
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
}

// max width 640px
@media (max-width: 40em) {
    :root {
        --h-scale: 0.66;
    }
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
    .d-sm-flex {
        display: flex;
    }
    .d-sm-grid {
        display: grid;
    }

    /*------------------------------------------------------------- header*/
    /*------------------------------------------------------------- footer*/
    /*------------------------------------------------------------- index*/
    .w-wrapper {
        width: 95%;
    }
    /*------------------------------------------------------------- cate*/
    /*------------------------------------------------------------- detail*/
}

// danh cho man hinh duoi 400px
@media (max-width: 25em) {
}
@media (max-width: 20em) {
}
